{% import '/common/macros.twig' as icwp_macros %}

<div class="row option_form_row {{ option.is_focus ? 'focus_option':'nonfocus_option' }}">

	<div class="col-2" style="min-width: 140px">
		<label for="Opt-{{ option.key }}"
			   id="Label-{{ option.key }}"
			   class="col-form-label">
			<span class="option_label_name">{{ option.name }}

				{% if option.beacon_id|default(false) %}
					<a href="javascript:{}"
					   class="beacon-article"
					   data-beacon_article_id="{{ option.beacon_id }}"
					   data-beacon_article_format="sidebar"
					   title="{{ strings.opt_info_helpdesk }}">
					<sup>{{ imgs.svgs.help|raw }}</sup>
					</a>
				{% elseif option.link_info %}
					<a href="{{ option.link_info }}" class="option_link_info d-inline-block" target="_blank"
					   title="{{ strings.opt_info_helpdesk }}"></a>
				{% endif %}
			</span>

			{% if option.disabled and option.unavailable %}
				<br />
				<div class="badge bg-success">
					<a href="{{ hrefs.go_pro }}" target="_blank"
					   class="text-light">{{ strings.pro_only_option }}</a>
				</div>
			{% endif %}
		</label>
	</div>

	<div class="col-4">

		{% if option.type is same as('checkbox') %}
			<div class="form-check">
				<input type="checkbox"
					   class="form-check-input"
					   id="Opt-{{ option.key }}"
					   name="{{ option.key }}"
					   {% if option.disabled %}disabled="disabled"{% endif %}
					   aria-labelledby="Label-{{ option.key }}"
					   value="Y"
						{{ ( option.value is same as('Y') ) ? 'checked="checked"' : '' }}
				/>
				<label class="form-check-label"
					   for="Opt-{{ option.key }}">{{ option.summary }}</label>
			</div>

		{% elseif option.type is same as('text') %}

			<input type="text" name="{{ option.key }}"
				   id="Opt-{{ option.key }}"
				   value="{{ option.value|raw }}"
				   placeholder="{{ option.value }}"
					{% if option.disabled %}
						disabled="disabled"
					{% endif %}
				   class="form-control" />

		{% elseif option.type is same as('password') %}

			<input type="password" name="{{ option.key }}"
				   id="Opt-{{ option.key }}"
				   value="{{ option.value|raw }}"
				   placeholder="{{ strings.supply_password }}"
				   autocomplete="new-password"
				   {% if option.disabled %}disabled="disabled"{% endif %}
				   class="form-control mb-2" />

			<input type="password" name="{{ option.key }}_confirm"
				   id="Opt-{{ option.key }}_confirm"
				   value="{{ option.value|raw }}"
				   placeholder="{{ strings.confirm_password }}"
				   autocomplete="new-password"
				   {% if option.disabled %}disabled="disabled"{% endif %}
				   class="form-control" />

		{% elseif option.type is same as('email') %}

			<input type="text" name="{{ option.key }}"
				   id="Opt-{{ option.key }}"
				   value="{{ option.value|raw }}"
				   placeholder="{{ option.value }}"
				   {% if option.disabled %}disabled="disabled"{% endif %}
				   class="form-control" />

		{% elseif option.type is same as('select') %}

			<select name="{{ option.key }}"
					class="form-select"
					id="Opt-{{ option.key }}"
					{% if option.disabled %}disabled="disabled"{% endif %}
					aria-label="Select for: {{ option.name }}">
				{% for option_value, option_value_settings in option.value_options %}
					<option
							value="{{ option_value }}"
							{% if not option_value_settings.is_available %}disabled="disabled"{% endif %}
							{% if option.value matches "'^"~option_value~"$'" %}selected{% endif %}
					>{{ option_value_settings.name|raw }}</option>
				{% endfor %}
			</select>

		{% elseif option.type is same as('multiple_select') %}

			{% for option_value, option_value_settings in option.value_options %}
				<div class="form-check">
					<input type="checkbox"
						   class="form-check-input"
						   id="Opt-{{ option.key }}_{{ option_value }}"
						   name="{{ option.key }}[]"
						   value="{{ option_value }}"
						   {% if not option_value_settings.is_available %}disabled="disabled"{% endif %}
							{% if option_value in option.value %}
								checked="checked"
							{% endif %}
							{% if option.disabled %}disabled="disabled"{% endif %}
					/>
					<label class="form-check-label"
						   for="Opt-{{ option.key }}_{{ option_value }}"
						   {% if not option_value_settings.is_available %}title="Available with ShieldPRO"{% endif %}
					>
							{% if option_value in option.value %}
								<strong>{{ option_value_settings.name|raw }}</strong>
							{% else %}
								{{ option_value_settings.name|raw }}
							{% endif %}</label>
				</div>
			{% endfor %}

		{% elseif option.type is same as('array') %}

			<textarea name="{{ option.key }}"
					  id="Opt-{{ option.key }}"
					  placeholder="{{ option.value|raw }}"
					  rows="{{ option.rows }}"
					  {% if option.disabled %}disabled="disabled"{% endif %}
					  class="form-control">{{ option.value|raw }}</textarea>

		{% elseif option.type is same as('comma_separated_lists') %}

			<textarea name="{{ option.key }}"
					  id="Opt-{{ option.key }}"
					  placeholder="{{ option.value }}"
					  rows="{{ option.rows }}"
					  {% if option.disabled %}disabled="disabled"{% endif %}
					  class="form-control">{{ option.value }}</textarea>

		{% elseif option.type is same as('noneditable_text') %}

			<input name="{{ option.key }}" id="Opt-{{ option.key }}"
				   type="text" readonly
				   class="form-control"
				   value="{{ option.value }}" />

		{% elseif option.type is same as('integer') %}

			<input type="text" name="{{ option.key }}"
				   id="Opt-{{ option.key }}"
				   value="{{ option.value }}"
				   placeholder="{{ option.value }}"
				   {% if option.disabled %}disabled="disabled"{% endif %}
				   class="form-control" />

		{% else %}
			ERROR: Should never reach this point.
		{% endif %}

		{% if option.type is not same as('checkbox') %}
			{# checkboxes display slightly differently #}
			<div class="options-summary">{{ option.summary }}</div>
		{% endif %}
	</div>

	<div class="col option-description">
		<div id="Description-{{ option.key }}">
			<div>
				{% for desc in option.description %}
					<p>{{ desc|raw }}</p>
				{% endfor %}
			</div>

			<div class="mt-3 text-start text-nowrap">

				{% if option.beacon_id|default(false) %}
					<a href="javascript:{}"
					   class="d-inline-block me-2 text-danger"
					   data-beacon-article-sidebar="{{ option.beacon_id }}"
					   title="{{ strings.opt_info_helpdesk }}"
					   style="background: no-repeat no-repeat url('data:image/svg+xml,{{ imgs.svgs.help|url_encode }}'); width: 16px; height: 16px;
							   filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);"
					>&nbsp;</a>

				{% elseif option.link_info %}
					<a href="{{ option.link_info }}"
					   class="d-inline-block me-2"
					   target="_blank"
					   title="{{ strings.opt_info_helpdesk }}"
					   style="background: no-repeat no-repeat url('data:image/svg+xml,{{ imgs.svgs.help|url_encode }}'); width: 16px; height: 16px;
							   filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);"
					>&nbsp;</a>
				{% endif %}

				{% if option.vimeo_id|default('') is not empty %}
					<a href="#"
					   class="d-inline-block option-video me-2"
					   title="View the video about this option"
					   data-vimeoid="{{ option.vimeo_id }}"
					   style="background: no-repeat no-repeat url('data:image/svg+xml,{{ imgs.svgs.video|url_encode }}'); width: 16px; height: 16px"
					>&nbsp;</a>
				{% endif %}

				{% if option.link_blog %}
					<a href="{{ option.link_blog }}" target="_blank"
					   class="d-inline-block me-2"
					   title="{{ strings.opt_info_blog }}"
					   style="background: no-repeat no-repeat url('data:image/svg+xml,{{ imgs.svgs.wordpress|url_encode }}'); width: 16px; height: 16px"
					>&nbsp;</a>
				{% endif %}

				{% if flags.show_transfer_switch %}

					{% if option.key in vars.xferable_opts %}
						<span class="form-check float-end toggle-importexport-inclusion"
							  data-bs-toggle="tooltip"
							  data-bs-placement="left"
							  data-bs-title="{{ strings.is_opt_importexport }}"
						>
							<input type="checkbox"
								   class="form-check-input"
								   aria-labelledby="Label-{{ option.key }}"
								   data-key="{{ option.key }}"
								{{ ( option.key not in vars.xfer_excluded_opts ) ? 'checked="checked"' : '' }}
							/>
							<label class="custom-control-label" for="optxfer-{{ option.key }}">
								<span class="svg-container"
									  title="{{ strings.importexport }}"
								>{{ imgs.svgs.importexport|raw }}</span></label>
						</span>
					{% endif %}
				{% endif %}
				<div class="clearfix"></div>
			</div>

		</div>
	</div>
</div>