<h2>{{ strings.title }}</h2>
<p>{{ strings.subtitle }}</p>
<p>{{ strings.reporting_period }}: <strong>{{ strings.time_interval }}</strong></p>
{% for report in vars.reports %}
	<div>{{ report|raw }}</div>
{% endfor %}