<div class="row">
	<div class="col insights_section">
		<ul class="nav nav-tabs shield_body-sub-nav">

			<li class="nav-item">
				<a class="nav-link active" data-bs-toggle="tab" role="tab" href="#tabInfo"
				   data-bs-toggle="tab">
					{{ strings.tab_info }}
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-bs-toggle="tab" role="tab" href="#tabHistory"
				   data-bs-toggle="tab">
					{{ strings.tab_history }}
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-bs-toggle="tab" role="tab" href="#tabContents"
				   data-bs-toggle="tab">
					{{ strings.tab_filecontents }}
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-bs-toggle="tab" role="tab" href="#tabDiff"
				   data-bs-toggle="tab">
					{{ strings.tab_diff }}
				</a>
			</li>

			{% if flags.can_query_malai %}
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" role="tab" href="#tabMalai"
					   data-bs-toggle="tab">
						{{ strings.tab_malai }}
					</a>
				</li>
			{% endif %}

		</ul>
	</div>
</div>

<div class="tab-content">

	<div class="tab-pane show active" id="tabInfo" role="tabpanel" aria-labelledby="tabInfo">
		<div class="row">
			<div class="col pt-3">
				{{ content.tab_info|raw }}
			</div>
		</div>
	</div>

	<div class="tab-pane" id="tabHistory" role="tabpanel" aria-labelledby="tabHistory">
		<div class="row">
			<div class="col pt-3">
				{{ content.tab_history|raw }}
			</div>
		</div>
	</div>

	<div class="tab-pane" id="tabContents" role="tabpanel" aria-labelledby="tabContents">
		<div class="row">
			<div class="col pt-3">
				{{ content.tab_filecontents|raw }}
			</div>
		</div>
	</div>

	<div class="tab-pane" id="tabDiff" role="tabpanel" aria-labelledby="tabDiff">
		<div class="row">
			<div class="col pt-3">
				{{ content.tab_diff|raw }}
			</div>
		</div>
	</div>

	{% if flags.can_query_malai %}
		<div class="tab-pane" id="tabMalai" role="tabpanel" aria-labelledby="tabMalai">
			<div class="row">
				<div class="col pt-3">
					{{ content.tab_malai|raw }}
				</div>
			</div>
		</div>
	{% endif %}

</div>