<div class="row">
	<div class="col insights_section">
		<ul class="nav nav-tabs shield_body-sub-nav">

			<li class="nav-item">
				<a class="nav-link active"
				   id="tabInfo-tab"
				   data-bs-toggle="tab"
				   role="tab"
				   href="#tabInfo"
				   aria-controls="tabInfo"
				   aria-selected="true">
					{{ strings.tab_info }}
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link"
				   id="tabHistory-tab"
				   data-bs-toggle="tab"
				   role="tab"
				   href="#tabHistory"
				   aria-controls="tabHistory"
				   aria-selected="false">
					{{ strings.tab_history }}
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link"
				   id="tabContents-tab"
				   data-bs-toggle="tab"
				   role="tab"
				   href="#tabContents"
				   aria-controls="tabContents"
				   aria-selected="false">
					{{ strings.tab_filecontents }}
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link"
				   id="tabDiff-tab"
				   data-bs-toggle="tab"
				   role="tab"
				   href="#tabDiff"
				   aria-controls="tabDiff"
				   aria-selected="false">
					{{ strings.tab_diff }}
				</a>
			</li>

			{% if flags.can_query_malai %}
				<li class="nav-item">
					<a class="nav-link"
					   id="tabMalai-tab"
					   data-bs-toggle="tab"
					   role="tab"
					   href="#tabMalai"
					   aria-controls="tabMalai"
					   aria-selected="false">
						{{ strings.tab_malai }}
					</a>
				</li>
			{% endif %}

		</ul>
	</div>
</div>

<div class="tab-content">

	<div class="tab-pane show active" id="tabInfo" role="tabpanel" aria-labelledby="tabInfo-tab">
		<div class="row">
			<div class="col pt-3">
				{{ content.tab_info|raw }}
			</div>
		</div>
	</div>

	<div class="tab-pane" id="tabHistory" role="tabpanel" aria-labelledby="tabHistory-tab">
		<div class="row">
			<div class="col pt-3">
				{{ content.tab_history|raw }}
			</div>
		</div>
	</div>

	<div class="tab-pane" id="tabContents" role="tabpanel" aria-labelledby="tabContents-tab">
		<div class="row">
			<div class="col pt-3">
				{{ content.tab_filecontents|raw }}
			</div>
		</div>
	</div>

	<div class="tab-pane" id="tabDiff" role="tabpanel" aria-labelledby="tabDiff-tab">
		<div class="row">
			<div class="col pt-3">
				{{ content.tab_diff|raw }}
			</div>
		</div>
	</div>

	{% if flags.can_query_malai %}
		<div class="tab-pane" id="tabMalai" role="tabpanel" aria-labelledby="tabMalai-tab">
			<div class="row">
				<div class="col pt-3">
					{{ content.tab_malai|raw }}
				</div>
			</div>
		</div>
	{% endif %}

</div>
