{% set meter = vars.meter %}
{% set meter_slug = vars.meter_slug %}

<div class="card d-flex flex-column progress-meter progress-meter-{{ meter_slug }} h-100
{% if meter.has_critical|default(false) %}
	meter-critical
{% elseif meter.totals.percentage > 50 %}
	meter-success
{% else %}
	meter-warning
{% endif %}
">

  <div class="card-header">
	  <h6>
      {{ meter.title }}
		  <br /><small class="text-muted">{{ meter.subtitle }}</small>
	  </h6>
  </div>

  <div class="card-body">

		<div class="row g-0">
	    <div class="col-md-4 col-lg-5 col-xl-5 d-flex justify-content-center align-items-start">

				<div class="pie d-flex align-items-center justify-content-center" data-pie='{
				  "number": false,
				  "colorCircle": "rgba( {{ meter.rgbs|join(',') }},0.08 )",
				  "colorSlice": "rgb( {{ meter.rgbs|join(',') }} )",
				  "percent": {{ meter.totals.percentage }},
				  "size":180
				}'>
					<div class="letter-score"
					     style="color: rgb( {{ meter.rgbs|join(',') }} )">{{ meter.totals.letter_score }}</div>
				</div>

	    </div>

	    <div class="col-md-8 col-lg-7 col-xl-7 d-flex flex-column">
		    {% if meter.warning|default([]) is not empty %}
			    <div class="alert alert-danger">
			      {{ meter.warning.text }}
				    <a href="{{ meter.warning.href }}" class="alert-link" target="_blank">
				      {{ strings.view_details }}</a>
		      </div>
		    {% endif %}
		    {% for desc in meter.description %}
			    <p class="card-text">{{ desc }}</p>
		    {% endfor %}
	    </div>
		</div>

  </div>

  <div class="card-footer">
    <a class="btn {% if meter.has_critical|default(false) %}btn-danger{% elseif meter.totals.percentage > 50 %}btn-success{% else %}btn-warning{% endif %}"
       href="javascript:{iCWP_WPSF_OffCanvas.renderMeterAnalysis('{{ meter_slug }}')}"
       aria-controls="ShieldProgressMeterOffcanvas">
			<span class="svg-container">{{ imgs.svgs.analysis|raw }}</span>
	    {{ strings.analysis }}
		</a>
  </div>
</div>