<div class="auto-recover">
	<div class="uaug uau">
		<p>{{ strings.you_can }}</p>
		<form method="post" action="{{ hrefs.home }}">
			<input type="hidden" name="email" value="" />
			{% for key,val in vars.nonce %}
				<input type="hidden" name="{{ key }}" value="{{ val }}" />
			{% endfor %}
			<p><button type="submit" class="btn btn-warning">{{ strings.button }}</button></p>
		</form>
	</div>
</div>