{% if flags.is_available %}
	<style>
	.address label,
	.address input {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		height: 0;
		width: 0;
		z-index: -1;
	}
	.auto-recover__confirm input[type=checkbox] {
		margin-right: 4px;
	}
	</style>
	<div class="auto-recover">
		<div class="uaug uau">
			<p id="{{ vars.recovery.ids.helper }}">{{ strings.you_can }}</p>
			<form method="post" action="{{ hrefs.home }}">
				<input type="hidden" name="email_address" value="" />
				{% for key,val in vars.unblock_nonce %}
					<input type="hidden" name="{{ key }}" value="{{ val }}" autocomplete="off" />
				{% endfor %}
				<fieldset aria-hidden="true" class="address">
					<label for="firstname">
						<input autocomplete="off" type="text" id="firstname" name="firstname" placeholder="Your name here">
					</label>
					<label for="email">
						<input autocomplete="off" type="email" id="email" name="email" placeholder="Your e-mail here">
					</label>
				</fieldset>
				<fieldset aria-hidden="false" class="submit">
					<p class="auto-recover__confirm">
						<input type="checkbox"
						       id="{{ vars.recovery.ids.confirm }}"
						       name="_confirm"
						       value="Y"
						       data-shield-autorecover-confirm="1">
						<label for="{{ vars.recovery.ids.confirm }}">{{ strings.confirm_legitimate }}</label>
					</p>
					<button type="submit" class="btn btn-warning" id="{{ vars.recovery.ids.submit }}"
					        data-shield-autorecover-submit="1"
					        aria-describedby="{{ vars.recovery.ids.helper }}"
					        disabled="disabled">{{ strings.button }}</button>
				</fieldset>
			</form>
		</div>
	</div>
{% endif %}
