{% extends '/pages/block/base_block_page.twig' %}

{% block body_content %}
	<div class="row">
    <div class="col-lg-6 col-md-9 mx-auto text-start mt-5">
      <h3 class="">Restriction Details</h3>
      <p class="mb-2">
	      This website uses a security service to monitor requests, checking for activity that isn't normal or expected.
      </p>
      <p class="mb-2">
	      Unfortunately, your IP address has been identified as having sent too many requests to the site
	      that triggered the automated defenses.
      </p>
    </div>
  </div>

	<div class="row">
    <div class="col-lg-6 col-md-9 mx-auto d-flex justify-content-end my-3">
	    <table class="table table-compact table-sm">
		    <tr>
			    <th class="text-start">Your IP Address</th>
			    <td class="text-end px-2">{{ vars.visitor_ip }}</td>
		    </tr>
		    <tr>
			    <th class="text-start">Restrictions Lifted</th>
			    <td class="text-end px-2">{{ vars.time_remaining }}</td>
		    </tr>
		    <tr>
			    <th class="text-start">Time Now</th>
			    <td class="text-end px-2">{{ vars.time_now }}</td>
		    </tr>
		    <tr>
			    <th class="text-start">Homepage</th>
			    <td class="text-end px-2">{{ vars.home_url }}</td>
		    </tr>
	    </table>
    </div>
  </div>

	<div class="row">
		<div class="col-lg-6 col-md-9 mx-auto mb-3">
			{% if flags.has_magiclink or flags.has_autorecover %}
			  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
			    {% if flags.has_magiclink %}
				    <a type="button" class="btn btn-primary btn-lg px-4 me-sm-3"
				       data-bs-toggle="modal" data-bs-target="#UserAutoUnblockDialog">Unblock via Email</a>
				  {% elseif flags.has_autorecover %}
					  <a type="button" class="btn btn-primary btn-lg px-4 me-sm-3"
					     data-bs-toggle="modal" data-bs-target="#AutoRecoverDialog">Unblock My IP</a>
				  {% endif %}
			  </div>
			{% endif %}
    </div>
  </div>

	<div class="row">

		<div class="col-md-3 offset-md-3 mb-3">
			<div class="alert alert-secondary">
		      Please contact site admin to request your IP address is unblocked.
			</div>
    </div>

		<div class="col-md-3 mb-3">
			<div class="alert alert-secondary">
		      If you're the website administrator,
		      <a href="{{ hrefs.how_to_unblock }}" target="_blank">please review this guide</a>.
			</div>
    </div>

  </div>

{% endblock %}

{% block pre_body_close %}
	<div class="modal fade" role="dialog" id="UserAutoUnblockDialog"
	     aria-labelledby="UserAutoUnblockDialog" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Unblock Your IP</h5>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row no-gutters row-cols-1">
							<div class="col">
								{{ content.email_unblock|raw }}
							</div>
						</div>
					</div>
	        </div>
	      </div>
	    </div>
	</div>


	<div class="modal fade" role="dialog" id="AutoRecoverDialog"
	     aria-labelledby="AutoRecoverDialog" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Unblock Your IP</h5>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row no-gutters row-cols-1">
							<div class="col">
								{{ content.auto_unblock|raw }}
							</div>
						</div>
					</div>
	        </div>
	      </div>
	    </div>
	</div>
{% endblock %}