{% if flags.is_available %}
	<div>
		<p>{{ strings.you_may }}</p>
		<ul>
			<li>{{ strings.this_will_send }}</li>
			<li><strong>{{ strings.same_browser }}</strong></li>
			<li>{{ strings.assumes_email }}</li>
			<li>{{ strings.dont_receive }}</li>
			<li>{{ strings.limit_60 }}</li>
		</ul>
		<p class="text-center">
			<a href="#"
			   id="MagicLinkSendEmail"
			   class="btn btn-warning"
			>{{ strings.click_to_send }}<code class="ms-1">{{ vars.email }}</code></a>
		</p>
	</div>
{% endif %}