<div>
	<p>{{ strings.you_may }}</p>
	<ul>
		<li>{{ strings.this_will_send }}</li>
		<li><strong>{{ strings.same_browser }}</strong></li>
		<li>{{ strings.assumes_email }}</li>
		<li>{{ strings.dont_receive }}</li>
		<li>{{ strings.limit_60 }}</li>
	</ul>
	<p style="text-align: center">
		<a href="{{ hrefs.unblock }}" class="button">
			{{ strings.click_to_send }} <code>{{ vars.email }}</code></a>
	</p>
</div>