
<p id="{{ form_id }}"></p>
<input type="hidden" id="_sugar_sweet_email" name="sugar_sweet_email" value="" />
<input type="hidden" id="_botts" name="botts" value="{{ ts }}" />
<input type="hidden" id="_comment_token" name="comment_token" value="{{ token }}" />

<script type="text/javascript">

	function reenableButton{{ form_id }}() {
		let nRemaining = {{ cooldown }} - nTimerCounter{{ form_id }};
		subbutton{{ form_id }}.value = "{{ js_comment_wait|raw }}";
		if ( nTimerCounter{{ form_id }} >= {{ cooldown }} ) {
			subbutton{{ form_id }}.value = origButtonValue{{ form_id }};
			subbutton{{ form_id }}.disabled = false;
			clearInterval( sCountdownTimer{{ form_id }} );
		}
		nTimerCounter{{ form_id }}++;
	}

	function redisableButton{{ form_id }}() {
		subbutton{{ form_id }}.value = "{{ comment_reload }}";
		subbutton{{ form_id }}.disabled = true;
	}

	let oForm = document.getElementById( '{{ form_id }}' );
	let cb{{ form_id }} = document.createElement( 'input' );
	cb{{ form_id }}.type = 'checkbox';
	cb{{ form_id }}.id = 'checkbox{{ form_id }}';
	cb{{ form_id }}.name = 'checkbox{{ form_id }}';
	cb{{ form_id }}.style.width = '25px';
	cb{{ form_id }}.onclick = function () {
		cb_name{{ form_id }}.value = cb{{ form_id }}.name;
	};

	let label{{ form_id }} = document.createElement( 'label' );
	let labelspan{{ form_id }} = document.createElement( 'span' );
	label{{ form_id }}.htmlFor = 'checkbox{{ form_id }}';
	labelspan{{ form_id }}.innerHTML = "{{ confirm|raw }}";

	let cb_name{{ form_id }} = document.createElement( 'input' );
	cb_name{{ form_id }}.type = 'hidden';
	cb_name{{ form_id }}.name = 'cb_nombre';

	oForm.appendChild( label{{ form_id }} );
	label{{ form_id }}.appendChild( cb{{ form_id }} );
	label{{ form_id }}.appendChild( labelspan{{ form_id }} );
	oForm.appendChild( cb_name{{ form_id }} );

	let frm{{ form_id }} = cb{{ form_id }}.form;
	frm{{ form_id }}.onsubmit = function() {
		if ( cb{{ form_id }}.checked !== true ) {
			alert( "{{ alert|raw }}" );
			return false;
		}
		return true;
	};

	{% if cooldown > 0 or expire > 0 %}

	let subbuttonList{{ form_id }} = frm{{ form_id }}.querySelectorAll( 'input[type="submit"]' );

	if ( typeof (subbuttonList{{ form_id }} ) !== "undefined" ) {

		subbutton{{ form_id }} = subbuttonList{{ form_id }}[ 0 ];

		if ( typeof (subbutton{{ form_id }}) !== "undefined" ) {

			{% if cooldown > 0 %}
			subbutton{{ form_id }}.disabled = true;
			origButtonValue{{ form_id }} = subbutton{{ form_id }}.value;
			nTimerCounter{{ form_id }} = 0;
			reenableButton{{ form_id }}();
			sCountdownTimer{{ form_id }} = setInterval( reenableButton{{ form_id }}, 1000 );
			{% endif %}

			{% if expire > 0 %}
			sTimeoutTimer{{ form_id }} = setTimeout( redisableButton{{ form_id }}, (1000 * {{ expire }} -1000) );
			{% endif %}
		}
	}
	{% endif %}
</script>