<div id="icwpWpsfReinstall" class="hidden icwp-wpsf-dialog">
	<h3>{{ strings.are_you_sure }}</h3>
	<p>{{ strings.wp_reinstall }}</p>
	<p>{{ strings.in_case }}</p>
</div>

<div id="icwpWpsfActivateReinstall" class="hidden icwp-wpsf-dialog">
	<h3>{{ strings.reinstall_first }}</h3>
	<p>{{ strings.download }}</p>
	<p>{{ strings.corrupted }}</p>
	<p>{{ strings.choose }}</p>
</div>
