<form action="{{ form_action }}" method="post" class="form">
	{{ nonce_field|raw }}

	<ul class="nav nav-tabs">
		{% for sOptionSection in data.all_options %}
			<li class="nav-item">
				<a href="#{{ sOptionSection.slug }}" class="nav-link {{ sOptionSection.primary ? 'active' : '' }}"
				   data-toggle="tab" role="tab" aria-controls="{{ sOptionSection.slug }}">
					{{ sOptionSection.title_short }}
				</a>
			</li>
		{% endfor %}
	</ul>

	<div class="tab-content container-fluid">
		{% for sOptionSection in data.all_options %}
			<div class="tab-pane {{ sOptionSection.primary ? 'active show primary_section' : 'non_primary_section' }}"
				 role="tabpanel" id="{{ sOptionSection.slug }}">

				<div class="row">
					<div class="col-12"><h5>{{ sOptionSection.title }}</h5></div>
					<div class="col-12">
						{% if ( sOptionSection.summary is defined ) and sOptionSection.summary|length %}
							<div class="row">
								<div class="col">
									<div class="alert alert-secondary" role="definition">
										<ul class="mb-0">
											{% for item in sOptionSection.summary %}
												<li class="">{{ item|raw }}</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>

				{% for key, aOption in sOptionSection.options %}
					<div class="form-group row">
						<label for="{{ aOption.key }}" class="col-sm-2 col-md-2 col-lg-3 col-xl-2 col-form-label">
							{{ aOption.name }}
						</label>
						<div class="col-xl-6 col-lg-7 col-md-8 col-sm-9">

							{% if aOption.type is sameas('checkbox') %}
								<div class="form-check">
									<input type="checkbox" name="{{ aOption.key }}"
										   id="{{ aOption.key }}" class="form-check-input"
										   value="Y" {{ ( aOption.value is sameas('Y') ) ? 'checked="checked"' : '' }} />
									<label class="form-check-label"
										   for="{{ aOption.key }}">{{ aOption.summary }}</label>
								</div>

							{% elseif aOption.type is sameas('text') %}

								<input type="text" name="{{ aOption.key }}"
									   id="{{ aOption.key }}"
									   value="{{ aOption.value|raw }}"
									   placeholder="{{ aOption.value }}"
									   class="form-control" />

							{% elseif aOption.type is sameas('password') %}

								<input type="password" name="{{ aOption.key }}"
									   id="{{ aOption.key }}"
									   value="{{ aOption.value|raw }}"
									   placeholder="{{ aOption.value }}"
									   class="form-control" />

							{% elseif aOption.type is sameas('email') %}

								<input type="text" name="{{ aOption.key }}"
									   id="{{ aOption.key }}"
									   value="{{ aOption.value|raw }}"
									   placeholder="{{ aOption.value }}"
									   class="form-control" />

							{% elseif aOption.type is sameas('select') %}

								<select name="{{ aOption.key }}"
										id="{{ aOption.key }}"
										class="custom-select"
								>
									{% for option_value, option_value_name in aOption.value_options %}
										<option value="{{ option_value }}"
												id="{{ aOption.key }}_{{ option_value }}"
												{{ aOption.value is sameas( option_value ) ? 'selected="selected"' : '' }} >
											{{ option_value_name }}
										</option>
									{% endfor %}
								</select>

							{% elseif aOption.type is sameas('multiple_select') %}

								<select name="{{ aOption.key }}[]"
										id="{{ aOption.key }}"
										multiple="multiple"
										multiple
										size="{{ aOption.value_options|length }}"
										class="custom-select"
								>
									{% for option_value, option_value_name in aOption.value_options %}
										<option value="{{ option_value }}"
												id="{{ aOption.key }}_{{ option_value }}"
												{{ aOption.value is sameas( option_value ) ? 'selected="selected"' : '' }} >
											{{ option_value_name }}
										</option>
									{% endfor %}
								</select>

							{% elseif aOption.type is sameas('array') %}

								<textarea name="{{ aOption.key }}"
										  id="{{ aOption.key }}"
										  placeholder="{{ aOption.value }}"
										  rows="{{ aOption.rows }}"
										  class="form-control">{{ aOption.value|raw }}</textarea>

							{% elseif aOption.type is sameas('comma_separated_lists') %}

								<textarea name="{{ aOption.key }}"
										  id="{{ aOption.key }}"
										  placeholder="{{ aOption.value }}"
										  rows="{{ aOption.rows }}"
										  class="form-control">{{ aOption.value }}</textarea>

							{% elseif aOption.type is sameas('noneditable_text') %}

								<input name="{{ aOption.key }}" id="{{ aOption.key }}"
									   type="text" readonly
									   class="form-control"
									   value="{{ aOption.value }}" />

							{% elseif aOption.type is sameas('integer') %}

								<input type="text" name="{{ aOption.key }}"
									   id="{{ aOption.key }}"
									   value="{{ aOption.value }}"
									   placeholder="{{ aOption.value }}"
									   class="form-control" />

							{% else %}
								ERROR: Should never reach this point.
							{% endif %}

							{% if aOption.type is not sameas('checkbox') %}
								{# checkboxes display slightly differently #}
								<div>{{ aOption.summary }}</div>
							{% endif %}
							<div class="collapse option-description"
								 id="Description{{ aOption.key }}">{{ aOption.description|raw }}</div>
						</div>
						<div class="col-1">
							<div class="option-links">
								<ul>
									<li><a data-toggle="collapse" href="#Description{{ aOption.key }}" role="button"
										   class="option-link">Description</a></li>
									{% if aOption.link_info %}
										<li><a href="{{ aOption.link_info }}" target="_blank" class="option-link">
										{{ strings.more_info }}</a></li>
										{% if aOption.link_blog %}
										<li><a href="{{ aOption.link_blog }}" target="_blank" class="option-link">
											{{ strings.blog }}</a></li>
									{% endif %}
									{% endif %}
								</ul>

							</div>
						</div>
					</div>
				{% endfor %}
		</div>
		{% endfor %}
	</div>
	<div class="form-actions">
		<input type="hidden" name="plugin_form_submit" value="Y" />
		<button type="submit" class="btn btn-primary btn-large" name="submit">{{ strings.save_all_settings }}</button>
	</div>
</form>