<style>
	.icwp_wpsf_site_badge {
		background-color: rgba(255, 255, 255, 0.9);
		box-sizing: content-box;
		color: #000000;
		height: 33px;
		padding: 7px 7px 4px;
		text-align: left;
		z-index: 100;
	}
	.icwp_wpsf_site_badge img {
		height: 32px;
		width: 32px;
	}
	.icwp_wpsf_site_badge a,
	.icwp_wpsf_site_badge a:hover {
		border: 0 none;
		box-sizing: inherit;
		color: inherit !important;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		text-decoration: none !important;
		line-height: 8px;
		padding: 0;
	}
	.icwp_wpsf_site_badge .badge-text {
		font-family: sans-serif;
		font-size: 12px;
		font-weight: normal;
		line-height: 17px;
		letter-spacing: 0;
		margin: 0 10px;
	}
	.icwp_wpsf_site_badge img {
		float: left;
	}
	.plugin-badge-name {
		font-weight: bolder;
	}
	.icwp_wpsf_site_badge.floating_badge {
		background-color: rgba(241, 241, 241, 0.99);
		border-radius: 5px;
		bottom: 9px;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.47);
		box-sizing: content-box;
		color: #000000;
		height: 33px;
		left: 9px;
		opacity: 0.7;
		padding: 7px;
		position: fixed;
		text-align: left;
		width: auto;
		z-index: 10000;
		text-wrap: none;
		-webkit-transition: width 0.25s; /* Safari */
		transition: width 1.25s;
		transition-delay: 1s
	}
	.icwp_wpsf_site_badge.floating_badge:hover {
		opacity: 1.0;
		width: auto;
		transition-delay: 0s;
	}
	.icwp_wpsf_site_badge.floating_badge .badge-text {
		-webkit-transition: opacity 1s; /* Safari */
		opacity: 0;
		display: none;
		transition: opacity 0.3s;
		transition-delay: 1s;
	}
	.icwp_wpsf_site_badge.floating_badge:hover .badge-text {
		opacity: 1;
		display: inline-block;
		transition-delay: 0s;
	}
	a#icwpWpsfCloseButton {
		background-color: #ffffff;
		border: 1px solid #ddd;
		border-radius: 4px;
		display: none;
		font-size: 10px;
		height: 10px;
		left: -2px;
		line-height: 6px;
		padding: 2px 1px 0 2px !important;
		position: absolute;
		text-align: center;
		top: -3px;
		width: 10px;
		z-index: 1001;
	}
	#icwpWpsfSiteBadge:hover a#icwpWpsfCloseButton {
		display: block;
	}
	#icwpWpsfCloseButton:hover {
		cursor: pointer;
	}
	@media (max-width: 600px) {
		.icwp_wpsf_site_badge.floating_badge {
			height: 16px;
			width: auto;
		}

		.icwp_wpsf_site_badge.floating_badge .badge-text {
			font-size: 8px;
			font-weight: normal;
			line-height: 8px;
			margin: 0 5px;
		}

		.icwp_wpsf_site_badge.floating_badge {
			padding: 2px;
		}

		.icwp_wpsf_site_badge.floating_badge img {
			height: 16px;
			width: 16px;
		}
	}
	{% if content.custom_css is not empty %}{{ content.custom_css|raw }}{% endif %}
</style>
<div id="icwpWpsfSiteBadge" class="icwp_wpsf_site_badge {% if flags.is_floating %} floating_badge {% endif %}">
	{% if flags.is_floating %}
		<a id="icwpWpsfCloseButton">x</a>
	{% endif %}

	<a href="{{ hrefs.badge }}" target="_blank" title="{{ strings.name }}">
		<img src="{{ hrefs.logo }}" alt=" {{ strings.alt }}" />
		<div class="badge-text">{{ strings.protected|raw }} &rarr;</div>
	</a>
</div>