<h3>Security</h3>
Our website uses specialist security software - {{ name }}. This helps to ensure data breaches do not occur
and our website and data are protected against hacking attempts and intrusion.

{{ name }} protects site visitors and works to block potential hacks while monitoring web traffic and filesystem changes.

To learn more about {{ name }}, <a href="{{ href }}" target="_blank">please follow this link</a>.
<h4>Cookies</h4>
<ol>
	<li>The {{ name }}
		plugin never stores any sensitive, personally identifiable information in any cookie at any time.</li>
	<li>In the case that the {{ name }} plugin needs to redirect a visitor or any request, it may use a cookie to prevent repeated/infinite redirect loops.</li>
	<li>For registered/logged-in users, the {{ name }} plugin uses a cookie to track user sessions and control display of certain in-plugin admin notices.</li>
	<li>The {{ name }} plugin does not normally use Cookies for unregistered site visitors. It may however use a cookie to register the closure of the {{ name }}
		security badge to prevent repeated display.</li>
</ol>

<h4>Data Storage: User Sessions</h4>
For logged-in users, the {{ name }} plugin stores information on the username, the IP address and the time of last login and last activity.

This information is purged upon logout or data cleanup.

<h4>Data Storage: Audit Trail</h4>
The {{ name }} plugin has an Audit Trail feature that will log the following information:

<ol>
	<li>Audit Trail message that may include email addresses</li>
	<li>Logged-in username (where applicable)</li>
	<li>Originating IP address of the request</li>
</ol>

For logged-in users this represents information that may be used to locate (by IP address) and identify individuals and their activity on the site.

This information is stored for security purposes by the site administrator.

This data will be retained and then automatically purged from the database after a fixed time period,
as determined by the site administrator. (Currently this is set to {{ audit_trail_days }} days.)