<h3>{{ strings.heading_security }}</h3>
{{ strings.security_sentence_1|format( name ) }}
{{ strings.security_sentence_2 }}
{{ strings.security_sentence_3|format( name ) }}

{{ strings.learn_more_intro|format( name ) }} <a href="{{ href }}" target="_blank">{{ strings.learn_more_link }}</a>.
<h4>{{ strings.heading_cookies }}</h4>
<ol>
	<li>{{ strings.cookies_item_1|format( name ) }}</li>
	<li>{{ strings.cookies_item_2|format( name ) }}</li>
	<li>{{ strings.cookies_item_3|format( name ) }}</li>
	<li>{{ strings.cookies_item_4_sentence_1|format( name ) }}
		{{ strings.cookies_item_4_sentence_2|format( name ) }}</li>
</ol>

<h4>{{ strings.heading_sessions }}</h4>
{{ strings.sessions_sentence_1|format( name ) }}
{{ strings.sessions_sentence_2 }}

<h4>{{ strings.heading_audit }}</h4>
{{ strings.audit_intro|format( name ) }}

<ol>
	<li>{{ strings.audit_item_1 }}</li>
	<li>{{ strings.audit_item_2 }}</li>
	<li>{{ strings.audit_item_3 }}</li>
</ol>

{{ strings.audit_explanation_1 }}

{{ strings.audit_explanation_2 }}

{{ strings.audit_retention_sentence_1 }}
{{ strings.audit_retention_sentence_2|format( audit_trail_days ) }}
