{% set layer_classes = ['drill-layer'] %}
{% if layer.state == 'compact' %}
	{% set layer_classes = layer_classes|merge(['drill-layer--compact']) %}
{% elseif layer.state == 'hidden' %}
	{% set layer_classes = layer_classes|merge(['drill-layer--hidden']) %}
{% endif %}

<div class="{{ layer_classes|join(' ') }}"
	 data-drill-layer="{{ layer.index|e('html_attr') }}"
	 data-drill-layer-key="{{ layer.key|e('html_attr') }}"
	 data-drill-layer-context="{{ layer.context|json_encode|e('html_attr') }}">
	{% include '/wpadmin/components/page/drill_down_strip.twig' with {
		strip: {
			label: layer.label,
			badge: layer.badge,
			badge_status: layer.badge_status,
			mode: layer.mode
		}
	} only %}
	<div class="drill-layer__body">
		{{ layer.body|raw }}
	</div>
</div>
