<div class="mt-4 mb-3 logo-container">
	<a href="{{ hrefs.plugin_home }}" class="page-header-item d-block text-center" target="_blank">
		<img class="navbar-brand"
		     src="{{ imgs.logo_small }}"
		     id="navbar-bannerlogo"
		     style=""
		     alt="Shield Logo" />
	</a>
</div>

{% if not flags.is_whitelabelled %}
	<div class="row mt-0 mb-3">
		<div class="col text-center d-flex justify-content-evenly">
				<a href="https://clk.shldscrty.com/shieldsecurityhome" title="Go To Shield Security Home"
				   target="_blank" class="page-header-item page-header-icon">{{ imgs.svgs.home|raw }}</a>
{#				<a href="#SGBF-open-62e5437476b962001357b06d" title="Get The Latest Shield News"#}
{#				   class="page-header-item page-header-icon">{{ imgs.svgs.megaphone|raw }}</a>#}
				<a href="{{ hrefs.facebook_group }}" title="Join The Facebook Group"
				   target="_blank" class="page-header-item page-header-icon">{{ imgs.svgs.facebook|raw }}</a>
				<a href="{{ hrefs.helpdesk }}" title="Go To Shield Security Helpdesk"
				   target="_blank" class="page-header-item page-header-icon">{{ imgs.svgs.helpdesk|raw }}</a>
				<a href="{{ hrefs.email_signup }}" title="Sign Up For The Weekly Newsletter"
				   target="_blank" class="page-header-item page-header-icon">{{ imgs.svgs.newsletter|raw }}</a>
		</div>
	</div>
{% endif %}