<div class="mt-3 mb-2 logo-container">
	<a href="{{ hrefs.plugin_home }}"
	   class="page-header-item sidebar-logo-link"
	   target="_blank"
	   aria-label="{{ strings.plugin_name|default('Shield Security') }}">
		<img class="sidebar-logo-banner"
		     src="{{ imgs.logo_banner|default(imgs.logo_small) }}"
		     alt="Shield Logo" />
		<img class="sidebar-logo-icon"
		     src="{{ imgs.logo_small }}"
		     alt=""
		     aria-hidden="true" />
	</a>
	{% if not flags.is_whitelabelled %}
		<div class="shield-sidebar-version">
			{{ strings.plugin_name|default('Shield Security') }} version {{ strings.running_version_only|raw }}.
		</div>
	{% endif %}
</div>
