{% block body_content %}
	<div class="container-fluid">
		{% block body_content_header %}
			<div class="row">
				<div class="col-4 offset-4"></div>
			</div>
		{% endblock %}

		{% block body_content_main %}
			<div class="row row-cols-1 justify-content-center">
				<div class="col-12">
					<!-- SmartWizard html -->
					<div id="merlin" class="mt-3">
						<ul class="nav ">
							{% for num,step in content.steps %}
								<li class="nav-item">
									<a class="nav-link" href="#step-{{ step.step_slug }}">{{ step.step_name }}</a>
								</li>
							{% endfor %}
						</ul>

						<div class="tab-content">
							{% for step in content.steps %}
								<div id="step-{{ step.step_slug }}" class="tab-pane" role="tabpanel"
									 aria-labelledby="step-{{ step.step_slug }}">
									{{ step.step_body|raw }}
								</div>
							{% endfor %}
						</div>

						<div class="progress">
						  <div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0"
							   aria-valuemax="100"></div>
						</div>
					</div>

				</div>
			</div>
		{% endblock %}

		{% block body_content_footer %}
			<div class="row justify-content-center mt-4">
				<div class="col-6 text-center">
					<a href="{{ hrefs.dashboard_home }}">{{ imgs.svgs.exit|raw }} Exit Wizard</a>
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}

{% block body_footer_scripts %}
{% endblock %}