{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( 'Security Administrators' ) }}

<p>Shield offers you the unique ability to lock down access to the <em>Shield Security plugin itself</em>.
</p>
<p>This is important because it means that only admins with security access key will be able to:
	<ul>
		<li>View Shield Security settings</li>
		<li>Change Shield Security settings</li>
		<li>Deactivate the Shield Security plugin</li>
	</ul>
</p>
<p>It's also a great layer of security in-case someone gets unauthorized access to your WordPress admin dashboard.</p>
<p>To turn this option on, please supply a password below (aka 'Access Key').</p>

<h5>Supply Your New Security Access Key</h5>
<p><strong>Warning</strong>: You must remember this key to regain access to the Shield plugin.</p>
<form class="form-horizontal icwp-wizard-form">
	{{ slideMacros.formInput_Password( 'AccessKey', '', 'Access Key', '', 'Do not forget this key' ) }}
	{{ slideMacros.formInput_Password( 'AccessKeyConfirm', '', 'Confirm Key', 'Confirm Access Key' ) }}
	{{ slideMacros.formInput_Hidden( 'wizard-step', 'admin_access_restriction' ) }}
	{{ slideMacros.formInput_Submit( 'Turn On Security Admin' ) }}
</form>

{% endblock %}