{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( 'Comment SPAM' ) }}

	<p>Shield can block 100% of automated Comment SPAM sent by "bots". You can turn it on below.</p>

	<h6>Watch the quick (30s) explanatory video</h6>
	{{ slideMacros.embedVimeo( "269193270" ) }}

	<h6 class="more_details">
		<a class="btn btn-link" data-toggle="collapse" data-target=".more_details_body">
			Click For More Details &rarr;</a>
	</h6>
	<div id="MoreDetails" class="collapse more_details_body">
		<div class="card card-body">
			<p>99%+ of comments spam is by automated (ro)bots. You get some human SPAM too, of course.</p>
			<p>Shield Security provides highly effective techniques to block bot spam.
			   Also, and unlike Akismet, we never send your private comment data to 3rd parties for
			   processing. You keep it all on your site.
			</p>
			<p>We also offer Google reCAPTCHA for comments, but you'll need to setup some Google API keys
			   for this first, so we'll leave you to do that later.</p>
			<p>There's also an option to protect against Human SPAMmers. But again, to get
			   you going, we'll leave you to set that up later, if you wish.</p>
		</div>
	</div>

<h6>Turn On Comment SPAM Protection</h6>
<form class="form-horizontal icwp-wizard-form">
	{% set radiovalues =
		{
			'Y': '<span>Turn On</span> - Block automated comments SPAM by bots',
			'N': '<span>Turn Off</span> - Do not block automated comments SPAM'
		}
	%}
	{{ slideMacros.formInput_Radio( 'CommentsFilterOption', radiovalues, 'Comment SPAM Blocking' ) }}
	{{ slideMacros.formInput_Hidden( 'wizard-step', 'comments_filter' ) }}
	{{ slideMacros.formInput_Submit( 'Set Comment SPAM Protection' ) }}
</form>

{% endblock %}