{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( 'Brute Force Login Protection' ) }}

	<p>Shield can protect your WP Login against automated attacks and bots.</p>

	<h6>Watch the quick (35s) explanatory video</h6>
	{{ slideMacros.embedVimeo( "269191603" ) }}

	<h6 class="more_details">
		<a class="btn btn-link" data-toggle="collapse" data-target=".more_details_body">
			Click For More Details &rarr;</a>
	</h6>
	<div id="MoreDetails" class="collapse more_details_body">
		<div class="card card-body">
			<p>You can turn on the Shield Login Guard which uses a similar
			   technique to that for Comments SPAM blocking.</p>
			<p>It adds a special checkbox to the login form that tricks automated robot login attempts.</p>
			<p>Shield also offers you the option to use Google reCAPTCHA for login bot protection, but you'll need to
			setup some API keys for this first, so we'll leave you to do that later.</p>
			<p>This option will add a <em>special anti-bot</em> checkbox to your login form that users have to check.
			   It's easy, and super simple to use - no annoying CAPTCHAs.</p>
		</div>
	</div>

	<h6>Turn On Login Protection</h6>
	<form class="form-horizontal icwp-wizard-form">
		{% set radiovalues =
			{
				'Y': '<span>Turn On</span> - Protect my WordPress login from automated attacks',
				'N': '<span>Turn Off</span> - Do not protect my WordPress login from automated attacks'
			}
		%}
		{{ slideMacros.formInput_Radio( 'LoginProtectOption', radiovalues, 'Bot Login Protection' ) }}
		{{ slideMacros.formInput_Hidden( 'wizard-step', 'login_protect' ) }}
		{{ slideMacros.formInput_Submit( 'Set Login Protection' ) }}
	</form>

{% endblock %}