{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( 'Come Join Us!' ) }}

	<p>We hope you'll see we've put a lot of effort into making Shield powerful, full-featured,
	and still easy to use.</p>
	<p>We're continually improving it, adding further security features, and making it easier than ever to secure your
	   sites.</p>
	<p>We've got 3 more options for you:</p>

	<h5>#1 Join Our Security Email Group</h5>
	<p class="help-block">Become a member on the list for exclusive updates, information and news
						  (you'll receive a double-optin email to confirm).
		<br /><strong>We never SPAM</strong> and you can remove yourself at any time.
	</p>
	{% include 'snippets/optin_form_drip.twig' %}
	<hr />

	<h6>Bonus: Join our new Facebook group</h6>
	<p><a href="https://icwp.io/cu" target="_blank">
			Click here to request access to our new Facebook group</a> where you can ask questions
	and help others with WordPress security and in particular, the Shield Security plugin.</p>

	<h5>#2 Anonymous Usage Data</h5>
	<p>Helps us determine what features are being used, where we need to do more work and how effective Shield is being.</p>
	<form class="form-horizontal icwp-wizard-form">

		{% set radiovalues =
			{
				'Y': '<span>Turn On</span> - allow <em>completely anonymous</em> usage data to be collected',
				'N': '<span>Turn Off</span> - do not contribute anonymous usage data'
			}
		%}
		{{ slideMacros.formInput_Radio( 'AnonymousOption', radiovalues, 'Anonymous Info' ) }}

		{{ slideMacros.formInput_Hidden( 'wizard-step', 'optin_usage' ) }}
		{{ slideMacros.formInput_Submit( 'Set Anonymous Data Usage' ) }}
	</form>

	<hr />

	<h5>#3 Display The Shield Protection Badge</h5>
	<p>You can demonstrate to your visitors and customers that you're taking security seriously
	   by displaying a Shield Security 'badge' on the bottom corner of your website.</p>
	<form class="form-horizontal icwp-wizard-form">

		{% set radiovalues =
			{
				'Y': '<span>Turn On</span> - display the Shield Security plugin badge on my site',
				'N': '<span>Turn Off</span> - do not display the badge on my site'
			}
		%}
		{{ slideMacros.formInput_Radio( 'BadgeOption', radiovalues, 'Shield Site Badge' ) }}

		{{ slideMacros.formInput_Hidden( 'wizard-step', 'optin_badge' ) }}
		{{ slideMacros.formInput_Submit( 'Set Plugin Badge Usage' ) }}
	</form>
{% endblock %}