{% if vars.ips|length > 0 %}
	<ul class="list-group list-group-flush">
		{% for ip in vars.ips %}
			<li class="list-group-item">
				<p class="m-0 text-break">
					<a href="{{ ip.ip_href }}"
					   title="IP Analysis" class="offcanvas_ip_analysis" data-ip="{{ ip.ip }}">{{ ip.ip }}</a>
					(<small class="fw-bold">{{ ip.ago }}</small>)
				</p>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p class="m-0">{{ strings.no_ips }}</p>
{% endif %}