{% if flags.has_logs %}
	<ul class="shield-list">
		{% for log in vars.logs %}
			<li>
				<span class="mono">{{ log.path }}</span>
				<br/><a href="{{ log.ip_href }}"
				title="IP Analysis" class="offcanvas_ip_analysis ip-address" data-ip="{{ log.ip }}">{{ log.ip }}</a>
				<span class="timestamp">{{ log.ago }}</span>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p class="m-0">{{ strings.no_logs }}</p>
{% endif %}
