{% if vars.ips|length > 0 %}
	<ul class="shield-list">
		{% for ip in vars.ips %}
			<li>
				<a href="{{ ip.ip_href }}"
				   title="IP Analysis" class="offcanvas_ip_analysis ip-address" data-ip="{{ ip.ip }}">{{ ip.ip }}</a>
				<span class="timestamp">({{ ip.ago }})</span>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p class="m-0">{{ strings.no_ips }}</p>
{% endif %}