{% extends '/pages/base.twig' %}

{% block head_inline_styles %}
	{{ parent() }}
	<style>
		body {
			background: #ffffff;
		}
		body.shield-busy {
			cursor: wait !important;
		}
		.input-group-addon a {
			font-weight: bold;
			display: block;
		}
		#countdown {
			font-weight: bolder;
		}
		#TimeRemaining {
			margin-top: 30px;
			padding: 10px;
		}
		#WhatIsThis {
			margin: 30px 0;
			text-decoration: underline;
		}
	</style>
{% endblock %}

{% block body_content_header %}
	<div class="row justify-content-center">
      <div class="col-8 col-md-4 text-center">
          <img id="ShieldLogo"
			   class="img-fluid my-6"
			   src="{{ imgs.logo_banner }}"
			   alt="logo"
			   style="margin-top:30px"
		  />
      </div>
  </div>
{% endblock %}

{% block body_content_main %}
	<div class="row mt-4">
		<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
			{{ content.form|raw }}
		</div>
	</div>
{% endblock %}

{% block body_content_footer %}
	<div class="row">
		<div class="col-md-4 offset-md-4 col-sm-12">
			{% if flags.show_branded_links %}
				<p id="WhatIsThis" class="text-center">
					<a href="{{ hrefs.what_is_this }}" class="btn btn-link"
					   target="_blank">{{ strings.what_is_this }}</a>
				</p>
			{% endif %}
		</div>
	</div>
{% endblock %}