{% extends 'pages/base.twig' %}

{% block head_stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ hrefs.css_steps }}" />
	<link rel="stylesheet" href="{{ hrefs.css_wizard }}" />
{% endblock %}

{% block head_scripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ hrefs.js_steps }}"></script>
{% endblock %}

{% block body_content_main %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div id="wizard">
				<h1>{{ strings.welcome }}</h1>
				<div>{{ include( '/wizard/slide-welcome.twig' ) }}</div>

				<h1>Step 3</h1>
				<div>Second Content</div>

				<h1>Step 4</h1>
				<div>Second Content</div>

				<h1>Step 5</h1>
				<div>Second Content</div>

				<h1>Step 6</h1>
				<div>Second Content</div>

				<h1>Step 7</h1>
				<div>Second Content</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body_footer %}
	<script type="text/javascript">

		jQuery( document ).ready( function ( $ ) {

			var settings = {
					/* Appearance */
					headerTag: "h1",
					bodyTag: "div",
					contentContainerTag: "div",
					actionContainerTag: "div",
					stepsContainerTag: "div",
					cssClass: "wizard",
					stepsOrientation: $.fn.steps.stepsOrientation.vertical,

					/* Templates */
					titleTemplate: '<span class="number">#index#.</span> #title#',
					loadingTemplate: '<span class="spinner"></span> #text#',

					/* Behaviour */
					autoFocus: false,
					enableAllSteps: false,
					enableKeyNavigation: true,
					enablePagination: true,
					suppressPaginationOnFocus: true,
					enableContentCache: true,
					enableCancelButton: true,
					enableFinishButton: true,
					preloadContent: false,
					showFinishButtonAlways: false,
					forceMoveForward: false,
					saveState: false,
					startIndex: 0,

					/* Transition Effects */
					transitionEffect: $.fn.steps.transitionEffect.none,
					transitionEffectSpeed: 200,

					/* Events */
					onStepChanging: function (event, currentIndex, newIndex) { return true; },
					onStepChanged: function (event, currentIndex, priorIndex) { },
				onCanceled: function (event) { },
			onFinishing: function (event, currentIndex) { return true; },
			onFinished: function (event, currentIndex) { },

			/* Labels */
			labels: {
				cancel: "Cancel",
					current: "current step:",
					pagination: "Pagination",
					finish: "Finish",
					next: "Next",
					previous: "Previous",
					loading: "Loading ..."
			}
		};

			// Initialize wizard
			var wizard = $( "#wizard" ).steps( settings );
		} );
	</script>
{% endblock %}