{% extends '/wpadmin_pages/insights_new/ips/ips_base.twig' %}

{% block section_form_addip %}{% endblock %}

{% block section_table %}
	<div class="row insights_widget" id="SectionIpsBlack">
		<div class="col-12">

			<div class="card">
				<div class="card-header">
					<h5 class="card-title">{{ strings.title_blacklist }}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{{ strings.summary_blacklist }}</h6>
				</div>
				<div class="card-body pb-2">

					<div id="TableIpsBlack"></div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block section_table_js %}
	<script>
		var $oTableIpsBlack = jQuery( '#TableIpsBlack' ).icwpWpsfAjaxTable(
			{
				'ajax_render':{{ ajax.render_table_ip|raw }},
				'req_params': {
					'fList': 'AB'
				}
			}
		);
		jQuery( '#SectionIpsBlack' ).icwpWpsfTableActions(
			{
				'table': $oTableIpsBlack,
				'ajax_item_delete':{{ ajax.item_delete|raw }},
				'ajax_item_insert':{{ ajax.item_insert|raw }},
				'forms': {
					'insert': jQuery( 'form#NewIp' )
				}
			}
		);
	</script>
{% endblock %}