<div style="padding-left: 10px;">
	<h3>{{ strings.title }}</h3>
	<p>{{ strings.file_changed }}</p>
	<ul>
		<li>{{ strings.total_files }}</li>
	</ul>
	<p><a href="{{ hrefs.view_results }}"
		  style="margin:8px 4px 10px;font-size:14px;color:#008000;"
		  target="_blank">{{ strings.view_results }}</a></p>
</div>
