<h3>{{ strings.title }}</h3>
<p>
	<span>{{ strings.file_changed }}</span>
	<br/><span>{{ strings.total_files }}</span>
</p>

<p><a href="{{ hrefs.view_results }}"
	  style="border:1px solid #008000;padding:16px;line-height:19px;margin:8px 4px 10px;display:inline-block;text-align:center;font-size:18px;color: #008000;border-radius:3px;"
	  target="_blank">{{ strings.view_results }}</a></p>