<h3>{{ strings.title }}</h3>
{% for scan_slug,scan_data in vars.scan_counts %}
	<ul>
		<li>{{ scan_data.name }}: {{ scan_data.count }}</li>
	</ul>
{% endfor %}

<p><a href="{{ hrefs.view_results }}"
	  style="border:2px solid #e66900;padding:20px;line-height:19px;margin:15px 20px 10px;display:inline-block;text-align:center;width:200px;font-size:18px;color: #e66900;border-radius:3px;"
	  target="_blank">{{ strings.view_results }}</a></p>