<tr>
	<th>
		<label for="{% if flags.is_validated %}icwp_wan_key_reg{% endif %}"
			   class="form-label">
			{{ strings.title }}</label>
	</th>

	<td id="shield_section_webauthn">
		<ul style=" list-style: circle inside; ">
			{% for reg in vars.registrations %}
				<li>
					<code>{{ reg.label }}</code>
					<span>{{ reg.used_at }}</span>
					<a href="#"
					   class="shield_remove_wan"
					   style="text-decoration: none;"
					   title="Remove"
					   data-wan_source_id="{{ reg.id }}">&#10006;</a>
				</li>
			{% endfor %}
		</ul>
		<p>
			<button type="button" class="button button-secondary" id="icwp_wan_key_reg" disabled="disabled">
				{{ strings.button_reg_key }}
			</button>
		</p>

		{% if flags.show_explanatory_text %}
			<p class="description">{{ strings.prompt }}</p>
		{% endif %}
	</td>
</tr>