{% extends '/wpadmin_pages/insights/base.twig' %}

{% block page_main %}
	<div class="row row-cols-3">
		<div class="col pt-3">
			<div class="card-deck">
				{% for c in vars.feature_cards %}
					<div class="card">
						<div class="card-header">{{ c.title }}</div>
						<div class="card-body">
							<h5 class="card-title">{{ c.title }}</h5>
							{% for p in c.paras %}
								<p class="card-text">{{ p }}</p>
							{% endfor %}
							<ul class="list-group list-group-flush">
							{% for action in c.actions %}
								<li class="list-group-item">
									<a href="{{ action.href }}">{{ action.text }}</a>
								</li>
							{% endfor %}
							</ul>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}