{% extends '/components/reports/components/base.twig' %}

{% block pre_body %}
	<p><small>{{ strings.note_changes }}</small></p>
{% endblock %}

{% block body %}
	<ul>
		{% for scan_slug,scan_data in vars.scan_counts %}
			<li>{{ scan_data.name }}: {{ scan_data.count }}</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block post_body %}
	<p>
		<a href="{{ hrefs.view_results }}"
	      style="margin:8px 4px 10px;font-size:14px;color:#008000;"
	      target="_blank">
			{{ strings.view_results }}
		</a>
	</p>
{% endblock %}