<div class="row" id="ScanResultsPills">
	<div class="col-sm-3 col-md-3 col-xl-2">
		<nav class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			{% for scankey,scanvars in scans %}
				<a class="nav-link " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-{{ scankey }}"
				   role="tab" aria-controls="v-pills-{{ scankey }}" aria-selected="true">
					<span class="badge badge-{% if scanvars.count > 0 %}danger{% else %}success{% endif %}"
					>{{ scanvars.count }}</span>
					{{ scanvars.strings.title }}
				</a>
			{% endfor %}
		</nav>
	</div>
	<div class="col-sm-9 col-md-9 col-xl-10">
		<div class="tab-content" id="v-pills-tabContent">
			<div class="tab-pane fade show active" id="v-pills-start" role="tabpanel"
				 aria-labelledby="v-pills-home-tab">
				<span class="alert alert-dark d-inline-block m-3">&larr; {{ strings.click_see_results }}</span>
			</div>
			{% for scankey,scanvars in scans %}
				<div class="tab-pane " id="v-pills-{{ scankey }}" role="tabpanel"
					 aria-labelledby="v-pills-{{ scankey }}-tab">
					{% set scan = attribute(scans, scankey) %}
					{% include '/wpadmin_pages/insights/scans/results/'~scankey~'.twig' %}
				</div>
			{% endfor %}
			{#<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>#}
			{#<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>#}
		</div>
	</div>
</div>