<div class="row insights_widget" id="SectionScanResultsAggregate">
	<div class="col-12">
		<div class="card card-scan_results">

			<div class="card-header">
				<h5 class="card-title">{{ scan.strings.title }}</h5>
				<h6 class="card-subtitle text-muted">{{ scan.strings.subtitle }}</h6>
			</div>

			<div class="card-body">
				<div id="TableScanAggregate" class="container-scantable"></div>
			</div>

			<div class="card-footer">
				<div class="row">
					<div class="col-sm-6">
					</div>
					<div class="col-sm-6 text-right">
						<a href="{{ scan.hrefs.options }}"
						   class="btn btn-sm btn-outline-dark">{{ strings.options }} &rarr;</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<script type="text/javascript">
	let $oTableScanAggregate = jQuery( '#TableScanAggregate' ).icwpWpsfAjaxTable(
		{
			'ajax_render':{{ ajax.render_table_scan|raw }},
			'req_params': {
				'fScan': 'aggregate'
			}
		}
	);
	jQuery( '#SectionScanResultsAggregate' ).icwpWpsfTableActions(
		{
			'table': $oTableScanAggregate,
			'ajax_bulk_action':{{ ajax.bulk_action|raw }},
			'ajax_item_action':{{ ajax.item_action|raw }},
			'req_params': {}
		}
	);
</script>