{% set rail_tabs = vars.rail_tabs %}

{% set pane_content %}
	<div class="tab-content mb-3">
		{% for tab in rail_tabs %}
			<div class="tab-pane{% if tab.is_active %} show active{% endif %}"
				 id="{{ tab.pane_id|e('html_attr') }}"
				 role="tabpanel"
				 aria-labelledby="{{ tab.nav_id|e('html_attr') }}"
				 data-shield-rail-pane="{{ tab.key|e('html_attr') }}"
				 data-actions-queue-pane-key="{{ tab.key|e('html_attr') }}"
				 data-actions-queue-pane-loaded="{{ tab.is_loaded ? '1' : '0' }}"
				 data-actions-queue-render-action="{{ tab.render_action|json_encode|e('html_attr') }}">
				{% include '/wpadmin_pages/insights/scans/results/scan_results_rail_pane.twig' with {
					tab: tab,
					strings: strings,
					content: content
				} only %}
			</div>
		{% endfor %}
	</div>
{% endset %}

{% set rail_html %}
	{% include '/wpadmin/components/page/shield_rail_sidebar.twig' with {
		rail: vars.rail
	} only %}
{% endset %}

{% include '/wpadmin/components/page/shield_rail_layout.twig' with { layout: {
	rail_html: rail_html,
	content_html: pane_content
} } only %}
