<ul class="nav nav-tabs shield_body-sub-nav" id="ScanResultsTabsNav" role="tablist">

	<li class="nav-item">
		<a class="nav-link active" id="h-tabs-wordpress-tab"
		   data-bs-toggle="tab"
		   data-bs-target="#h-tabs-wordpress"
		   role="tab" aria-controls="h-tabs-wordpress">
			WordPress
			{% if vars.sections.wordpress.count > 0 %}
				<span class="badge bg-danger">{{ vars.sections.wordpress.count }}</span>
			{% else %}
				<span class="badge bg-success">&check;</span>
			{% endif %}
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link"
		   id="h-tabs-plugins-tab"
		   data-bs-toggle="tab"
		   data-bs-target="#h-tabs-plugins"
		   role="tab" aria-controls="h-tabs-plugins">
			Plugins
			{% if vars.sections.plugins.count > 0 %}
				<span class="badge bg-danger ">{{ vars.sections.plugins.count }}</span>
			{% else %}
				<span class="badge bg-success">&check;</span>
			{% endif %}
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" id="h-tabs-themes-tab"
		   data-bs-toggle="tab"
		   data-bs-target="#h-tabs-themes"
		   role="tab"
		   aria-controls="h-tabs-themes">
			Themes
			{% if vars.sections.themes.count > 0 %}
				<span class="badge bg-danger">{{ vars.sections.themes.count }}</span>
			{% else %}
				<span class="badge bg-success">&check;</span>
			{% endif %}
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" id="h-tabs-malware-tab" data-bs-toggle="tab" href="#h-tabs-malware"
		   role="tab" aria-controls="h-tabs-malware">
			Malware
			{% if vars.sections.malware.count > 0 %}
				<span class="badge bg-danger">{{ vars.sections.malware.count }}</span>
			{% else %}
				<span class="badge bg-success">&check;</span>
			{% endif %}
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" id="h-tabs-home-tab" data-bs-toggle="tab" href="#h-tabs-file_locker"
		   role="tab" aria-controls="h-tabs-file_locker">

			{{ file_locker.strings.title }}
			{% if file_locker.count > 0 %}
				<span class="badge bg-danger">{{ file_locker.count }}</span>
			{% else %}
				<span class="badge bg-success">&check;</span>
			{% endif %}
		</a>
	</li>

</ul>

<div class="tab-content mb-3">

	<div class="tab-pane show active" id="h-tabs-wordpress" role="tabpanel"
		 aria-labelledby="h-tabs-wordpress-tab">
		{{ content.section.wordpress|raw }}
	</div>

	<div class="tab-pane" id="h-tabs-plugins" role="tabpanel"
		 aria-labelledby="h-tabs-plugins-tab">
		{{ content.section.plugins|raw }}
	</div>

	<div class="tab-pane" id="h-tabs-themes" role="tabpanel"
		 aria-labelledby="h-tabs-themes-tab">
		{{ content.section.themes|raw }}
	</div>

	<div class="tab-pane" id="h-tabs-malware" role="tabpanel"
		 aria-labelledby="h-tabs-malware-tab">
		{{ content.section.malware|raw }}
	</div>

	<div class="tab-pane show" id="h-tabs-file_locker" role="tabpanel"
		 aria-labelledby="h-tabs-file_locker-tab">
		{{ content.section.filelocker|raw }}
	</div>
</div>