<div class="row insights_widget" id="SectionScanResultsUfc">
	<div class="col-12">
		<div class="card card-scan_results">

			<div class="card-header">
				<h5 class="card-title">{{ scan.strings.title }}</h5>
				<h6 class="card-subtitle text-muted">{{ scan.strings.subtitle }}</h6>
			</div>

			<div class="card-body">
				<div id="TableScanUfc" class="container-scantable"></div>
			</div>

			<div class="card-footer">
				<div class="row">
					<div class="col-sm-6">
						{{ scan.vars.last_scan_at }}
					</div>
					<div class="col-sm-6 text-right">
						<a href="{{ scan.hrefs.options }}"
						   class="btn btn-sm btn-outline-dark">{{ strings.options }} &rarr;</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<script>
	var $oTableScanUfc = jQuery( '#TableScanUfc' ).icwpWpsfAjaxTable(
		{
			'ajax_render':{{ ajax.render_table_scan|raw }},
			'req_params': {
				'fScan': 'ufc'
			}
		}
	);
	jQuery( '#SectionScanResultsUfc' ).icwpWpsfTableActions(
		{
			'table': $oTableScanUfc,
			'ajax_bulk_action':{{ ajax.bulk_action|raw }},
			'ajax_item_delete':{{ ajax.item_delete|raw }},
			'ajax_item_ignore':{{ ajax.item_ignore|raw }},
			'ajax_item_repair':{{ ajax.item_repair|raw }},
			'req_params': {
				'fScan': 'ufc'
			}
		}
	);
</script>