{% for release in changelog %}
	<div class="row" id="DynamicChangelog">
		<div class="col-6">
			<h6>{{ release.version }} <small>{{ release.released_at|date("Y-m-d") }}</small></h6>
			<dl>
				{% for item in release.items %}
					<dt>
						<span class="badge badge-{{ attribute(vars.badge_types,item.type) }}">{{ item.type|upper }}</span>
						<span>{{ item.title }}</span>
					</dt>
					<dd>
						{% for desc in item.description %}
							<p>{{ desc }}</p>
						{% endfor %}
						{% if item.href is not empty %}
							<p><a href="{{ item.href }}" target="_blank">More Info</a></p>
						{% endif %}
					</dd>
				{% endfor %}
			</dl>
		</div>
	</div>
{% endfor %}