<div class="row" id="SectionImportExportFile">

	<div class="col-6 mt-3">
		<div class="insights_widget card">
			<div class="card-header">
				<h5 class="card-title">{{ strings.title_import_file }}</h5>
				<h6 class="card-subtitle text-muted">{{ strings.subtitle_import_file }}</h6>
			</div>
			<div class="card-body p-4">
				<form id="ImportExportFileForm" autocomplete="off" method="post"
					  action="{{ vars.form_action }}" enctype="multipart/form-data">
					{% for input_name,input_value in vars.file_upload_nonce %}
						<input type="hidden" name="{{ input_name }}" value="{{ input_value }}" />
					{% endfor %}
					<div class="form-group">
						<label for="ImportFile">{{ strings.select_import_file }}</label>
						<input name="import_file" type="file" class="form-control-file" id="ImportFile"
							   accept=".json">
					</div>
					<div class="form-group">
						<label for="_confirm_file" class="col-form-label">
							<input type="checkbox" class="form-control text-right"
								   name="confirm" id="_confirm_file" value="Y" />
							{{ strings.i_understand }}
							<br />
							<small class="form-text text-muted">{{ strings.be_sure }} {{ strings.not_undone }}</small>
						</label>
					</div>
					<div class="form-group text-right">
						<input id="SubmitForm" href="#" class="btn btn-primary" type="submit"
							   value="{{ strings.import_options }}" />
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="col-6 mt-3">
		<div class="insights_widget card">
			<div class="card-header">
				<h5 class="card-title">{{ strings.title_download_file }}</h5>
				<h6 class="card-subtitle text-muted">{{ strings.subtitle_download_file }}</h6>
			</div>
			<div class="card-body p-4">
				<div class="" id="">
					<div class="form-group text-right">
						<a id="ExportDownload" href="{{ hrefs.export_file_download }}"
						   class="btn btn-primary shield_file_download"
						   type="submit">{{ strings.title_download_file }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>