<div class="row" id="SectionImportExportFile">

	<div class="col mt-4">

		{% if flags.has_master_url %}
			<div class="alert alert-info">
				{{ strings.currently_in_network }} {{ strings.master_url_is }}: <code>{{ vars.current_master_url }}</code>
			</div>
		{% endif %}

		<h6 class="mb-3">{{ strings.title_import_site }}</h6>

		<form id="ImportSiteForm" class="form-horizontal icwp-wizard-form">

			<div class="">
				<label class="col-form-label" for="MasterSiteUrl">{{ strings.master_site_url }}</label>
				<div class="">
					<input type="url" class="form-control"
					       name="MasterSiteUrl"
					       id="MasterSiteUrl"
					       value="{{ vars.current_master_url }}"
					       placeholder="{{ flags.has_master_url ? vars.current_master_url : 'https://www...' }}" />
					<span id="helpBlock"
					      class="form-text text-muted">{{ strings.remember_include|raw }}</span>
				</div>
			</div>

			<div class="">
				<label class="col-form-label" for="MasterSiteSecretKey">{{ strings.master_site_key }}</label>
				<div class="">
					<input type="text" class="form-control" maxlength="40" minlength="40" autocomplete="off"
					       name="MasterSiteSecretKey" id="MasterSiteSecretKey"
					       placeholder="{{ strings.secret_key }}">
					<span id="helpBlock" class="form-text text-muted">{{ strings.key_found_under }}</span>
				</div>
			</div>

			<div class="">

				<label class="col-form-label" for="ShieldNetwork">{{ strings.create_network }}?</label>
				<div class="form-check">
					<div>
						<input class="form-check-input" type="radio"
						       name="ShieldNetwork" id="ShieldNetworkOn" value="Y">
						<label class="form-check-label" for="ShieldNetworkOn">{{ strings.turn_on }}</label>
					</div>
					<div>
						<input class="form-check-input" type="radio"
						       name="ShieldNetwork" id="ShieldNetworkOff" value="N">
						<label class="form-check-label" for="ShieldNetworkOff">{{ strings.turn_off }}</label>
					</div>
					<div>
						<input class="form-check-input" type="radio" aria-selected="true" checked="checked"
						       name="ShieldNetwork" id="ShieldNetworkNoChange" value="NC">
						<label class="form-check-label"
						       for="ShieldNetworkNoChange">{{ strings.no_change }}</label>
					</div>
				</div>
					<p id="helpBlock" class="form-text text-muted">
						{{ strings.network_explain|join(' ') }}
					</p>
			</div>

			<div class="">
				<label for="_confirm_site" class="col-form-label">
					<input type="checkbox" class="form-control text-end"
					       name="confirm" id="_confirm_site" value="Y" />
					{{ strings.i_understand }}
					<br />
					<small class="form-text text-muted">{{ strings.be_sure }} {{ strings.not_undone }}</small>
				</label>
			</div>

			<div class="text-end">
				<div class="">
					<button type="submit" class="btn btn-primary">{{ strings.import_options }}</button>
				</div>
			</div>

		</form>
	</div>
</div>