<div class="row" id="SectionImportExportFile">

	<div class="col-6 mt-4">
		<h6 class="mb-2">{{ strings.title_import_file }}</h6>
		<form id="ImportExportFileForm" autocomplete="off" method="post"
		      action="#"
		      class="icwp-form-dynamic-action"
		      enctype="multipart/form-data">
			{% for input_name,input_value in vars.file_upload_nonce %}
				<input type="hidden" name="{{ input_name }}" value="{{ input_value }}" />
			{% endfor %}
			<div class="">
				<label for="ImportFile" class="form-label">{{ strings.select_import_file }}</label>
				<input name="import_file" type="file" class="" id="ImportFile"
				       accept=".json">
			</div>
			<div class="my-2">
				<label for="_confirm_file" class="col-form-label">
					<input type="checkbox" class="form-control text-end"
					       name="confirm" id="_confirm_file" value="Y" />
					{{ strings.i_understand }}
					<br />
					<small class="form-text text-muted">{{ strings.be_sure }} {{ strings.not_undone }}</small>
				</label>
			</div>
			<div class="text-end">
				<input id="SubmitForm" href="#" class="btn btn-primary" type="submit"
				       value="{{ strings.import_options }}" />
			</div>
		</form>
	</div>

</div>