<h6 class="mt-3">{{ strings.title }} <span class="badge badge-info">{{ vars.total_sessions }}</span></h6>
{% if vars.total_sessions > 0 %}
	<table class="table">
		<thead class="thead-light">
		<tr>
			<th scope="col">{{ strings.username }}</th>
			<th scope="col">{{ strings.last_activity_at }}</th>
			<th scope="col">{{ strings.logged_in_at }}</th>
		</tr>
		</thead>
		<tbody>
		{% for session in vars.sessions %}
			<tr>
			<td>
				<span>{{ session.wp_username }}</span>
				<span>
					{% if session.is_sec_admin %}
						<a class="dashicons dashicons-shield-alt"
							  title="{{ strings.sec_admin }}"
							  data-toggle="tooltip"></a>
					{% endif %}
				</span>
			</td>
			<td>{{ session.last_activity_at|raw }}</td>
			<td>{{ session.logged_in_at|raw }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% else %}
	<div class="alert-info alert">{{ strings.no_sessions }}</div>
{% endif %}