{% if success %}
	<div class="card-group">

		<div class="card">

			<div class="card-body">
				<h5 class="card-title">{{ strings.locked_file }}</h5>

				<dl class="row">
					<dt class="col">{{ strings.locked }}</dt>
					<dd class="col">{{ vars.locked_at }}</dd>
				</dl>

				<dl class="row">
					<dt class="col">{{ strings.file_size }}</dt>
					<dd class="col">{{ vars.file_size_locked }}</dd>
				</dl>

				<dl class="row">
					<dt class="col">{{ strings.download }}</dt>
					<dd class="col">
						<a href="{{ ajax.original }}" title="{{ strings.download }}" class="shield_file_download text-nowrap">
							<span class="dashicons dashicons-download"></span></a>
					</dd>
				</dl>
			</div>

		</div>

		{% if flags.has_diff %}
			<div class="card">

				<div class="card-body">
					<h5 class="card-title">{{ strings.modified_file }}</h5>

					<dl class="row">
						<dt class="col">{{ strings.modified_at }}</dt>
						<dd class="col">{{ vars.modified_at }}</dd>
					</dl>

					<dl class="row">
						<dt class="col">{{ strings.file_size }}</dt>
						<dd class="col">{{ vars.file_size_modified }}</dd>
					</dl>

					<dl class="row">
						<dt class="col">{{ strings.download }}</dt>
						<dd class="col">
							<a href="{{ ajax.current }}" title="{{ strings.download }}" class="shield_file_download text-nowrap">
								<span class="dashicons dashicons-download"></span></a>
						</dd>
					</dl>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">{{ strings.file_restore }}</h5>
					<form class="filelocker_fileaction">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input"
								   id="ConfirmFileRestore"
								   name="ConfirmFileRestore"
								   value="Y"
							/>
							<label class="custom-control-label"
								   for="ConfirmFileRestore">{{ strings.file_restore_checkbox }}</label>
						</div>
						<input href="#"
							   type="submit" value="{{ strings.butt_restore }}"
							   data-action="restore"
							   data-rid="{{ vars.rid }}"
							   class="btn btn-outline-success btn-sm mt-3" />
					</form>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">{{ strings.file_accept }}</h5>
					<form class="filelocker_fileaction">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input"
								   id="ConfirmFileAccept"
								   name="ConfirmFileAccept"
								   value="Y"
							/>
							<label class="custom-control-label"
								   for="ConfirmFileAccept">{{ strings.file_accept_checkbox }}</label>
						</div>
						<input href="#"
							   type="submit" value="{{ strings.butt_accept }}"
							   data-action="accept"
							   data-rid="{{ vars.rid }}"
							   class="btn btn-outline-danger btn-sm mt-3" />
					</form>
				</div>
			</div>
		{% endif %}

	</div>
	{% if flags.has_diff %}
		<div class="row text-center mt-4">
			<div class="col">
				<div class="alert alert-warning mb-2">
					<p class="m-0">{{ strings.please_review }}</p>
				</div>
			</div>
		</div>
		<div class="row text-center mt-4">
			<div class="col"><h5>{{ strings.file_content_original }}</h5></div>
			<div class="col"><h5>{{ strings.file_content_current }}</h5></div>
		</div>
		<hr />
		{{ html.diff|raw }}
	{% endif %}
{% else %}
	<div class="alert alert-warning">{{ error }}</div>
{% endif %}