{% if success %}
	{% if html.diff is empty %}
		<div class="alert alert-success m-0">{{ strings.no_changes }}</div>
	{% else %}
		<div class="alert alert-warning m-0">
			<p class="m-0">{{ strings.please_review }}</p>
		</div>
		<div class="row">
			<div class="col-6 text-center">
				<button class="btn btn-success m-3 filelocker_fileaction"
						data-action="restore"
						data-rid="{{ vars.rid }}">{{ strings.butt_accept }}</button>
			</div>
			<div class="col-6 text-center">
				<button class="btn btn-warning m-3 filelocker_fileaction"
						data-action="accept"
						data-rid="{{ vars.rid }}">{{ strings.butt_restore }}</button>
			</div>
		</div>
		{{ html.diff|raw }}
	{% endif %}
{% else %}
	<div class="alert alert-warning m-0">{{ error }}</div>
{% endif %}