{% if success %}
	{% if html.diff is empty %}
		<div class="alert alert-success m-0">{{ strings.no_changes }}</div>
	{% else %}
		<div class="alert alert-warning m-0">
			<p class="m-0">{{ strings.please_review }}</p>
		</div>
{#		<div class="row mt-3">#}
{#			<div class="col">#}
{#				<ul >#}
{#					<li></li>#}
{#				</ul>#}
{#				<dl>#}
{#					<dt>{{ strings.date_original }}</dt>#}
{#					<dd>{{ vars.date_original }}</dd>#}
{#				</dl>#}
{#			</div>#}
{#			<div class="col">#}
{#				<dl>#}
{#					<dt>{{ strings.change_detected }}</dt>#}
{#					<dd>{{ vars.change_detected }}</dd>#}
{#				</dl>#}
{#			</div>#}
{#		</div>#}
		<hr />
		<div class="row">
			<div class="col-6 text-center">
				<button class="btn btn-success m-3 filelocker_fileaction"
						data-action="restore"
						data-rid="{{ vars.rid }}">{{ strings.butt_accept }} &#8628;</button>
			</div>
			<div class="col-6 text-center">
				<button class="btn btn-warning m-3 filelocker_fileaction"
						data-action="accept"
						data-rid="{{ vars.rid }}">{{ strings.butt_restore }} &#8628;</button>
			</div>
		</div>
		{{ html.diff|raw }}
	{% endif %}
{% else %}
	<div class="alert alert-warning m-0">{{ error }}</div>
{% endif %}