{% extends '/wpadmin/plugin_pages/base_inner_page.twig' %}

{% block inner_page_body %}
	{% set strip = vars.severity_strip %}
	<div class="actions-landing"
		 data-actions-landing="1"
		 data-actions-pane-loading="{{ strings.pane_loading }}"
		 data-actions-groups-loading="{{ strings.groups_loading }}"
		 data-actions-detail-loading="{{ strings.detail_loading }}"
		 data-actions-pane-error="{{ strings.pane_load_error }}"
		 data-actions-layer-error="{{ strings.layer_load_error }}"
		 data-actions-layer-retry="{{ strings.layer_retry }}"
		 data-actions-queue-groups-action="{{ vars.actions_queue_ajax.groups_render_action_json }}"
		 data-actions-queue-detail-action="{{ vars.actions_queue_ajax.detail_render_action_json }}">

		{% include '/wpadmin/components/actions_queue/severity_strip.twig' with {
			strip: strip,
			severity_strip_label: strings.severity_strip_label
		} only %}

		{% if flags.queue_is_empty %}
			{% include '/wpadmin/components/actions_queue/all_clear.twig' with {
				all_clear: vars.all_clear
			} only %}
		{% endif %}

		{% if flags.has_drilldown_content %}
			<div class="actions-landing__drilldown mt-4" data-actions-queue-section="drilldown">
				{% include '/wpadmin/components/page/drill_down_shell.twig' with {
					shell: vars.drill_shell
				} only %}
			</div>
		{% endif %}
	</div>
{% endblock %}
