{% extends '/wpadmin/plugin_pages/base_inner_page.twig' %}

{% block inner_page_body %}
	<div data-reports-section="charts">
		<h5 class="mb-2" data-reports-heading="charts">{{ strings.charts_title }}</h5>
		<div data-reports-content="summary-charts">
			{{ content.summary_charts|raw }}
		</div>
	</div>

	<div class="mt-4" data-reports-section="recent-reports">
		<div class="d-flex align-items-center justify-content-between mb-2">
			<h5 class="mb-0" data-reports-heading="recent-reports">{{ strings.recent_reports_title }}</h5>
			<a href="{{ hrefs.reports_list }}" class="btn btn-sm btn-outline-secondary" data-reports-cta="reports-list">{{ strings.cta_reports_list }}</a>
		</div>
		<div data-reports-content="recent-reports">
			{{ content.recent_reports|raw }}
		</div>
	</div>
{% endblock %}
