{% extends '/wpadmin/plugin_pages/base_inner_page.twig' %}

{% block inner_page_body %}
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-10 col-lg-8 col-xl-8 col-xxl-6 mt-4" style="transition: width 0.3s">
			<div id="IcwpWpsfSecurityAdmin"
				 class="p-4 border bg-white"
				 style="box-shadow: 2px 2px 5px rgba(0,0,0,0.05);">

				<form method="post" class="form-horizontal" id="SecurityAdminForm">

					<div class="row">
						<label class="col-6 col-form-label" for="sec_admin_key">
							<span class="optname">{{ strings.aar_enter_access_key }}</span>
						</label>

						<div class="col-6 col-xs-offset-1">
							<input type="password" name="sec_admin_key"
								   class="form-control"
								   id="sec_admin_key"
								   value="" autocomplete="off" autofocus />
							<p class="form-text">{{ strings.aar_to_manage_must_enter_key }}</p>
						</div>
					</div>

					<div class="row no-gutters">
						<div class="col-6 order-2 text-end">
							<button type="submit" class="btn btn-primary" name="submit">
								{{ strings.aar_submit_access_key }}</button>
						</div>
						<div class="col-6 order-1 text-start">
							<a class="btn btn-link "
							   href="{{ hrefs.aar_forget_key }}" target="_blank">
								{{ strings.aar_forget_key }}?</a>
						</div>
					</div>

				</form>

				<div class="mb-0 mt-5 text-center">
					{% if flags.allow_email_override %}
						<p class="mb-0">
							{{ strings.force_remove_email }} {{ strings.send_to_email }}
						</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}