{% extends "/notices/base-info.twig" %}

{% block notice_body %}
	<p>{{ strings.want_to_track }} {{ strings.what_we_collect }}</p>
	<p>{{ strings.data_anon }} {{ strings.can_turn_off }}
		<br /><a target="_blank" href="{{ hrefs.link_to_see }}">{{ strings.click_to_see }}</a>
	</p>
	<p>
		<a href="#" class="button button-primary me-3" id="icwpButtonPluginTrackingAgree">
			{{ strings.yes_i_share }}</a>

		<a target="_blank" href="{{ hrefs.link_to_moreinfo }}" class="button me-3"
		   id="icwpButtonPluginTrackingMore">{{ strings.hmm_learn_more }}</a>

		<a class="text-dark" href="#" id="icwpButtonPluginTrackingDisagree">{{ strings.no_help }}</a>
	</p>
{% endblock %}