{% if unique_render_id|default('') is empty %}
	{% set unique_render_id= random() %}
{% endif %}
{% set dismiss_enabled = can_dismiss is defined and can_dismiss is not null ? can_dismiss : true %}

{% block notice_wrapper %}

	<div id="{{ unique_render_id }}"
		 data-notice_id="{{ notice_id|default('') }}"
		 class="{{ notice_classes|default('info') }} notice {{ dismiss_enabled ? 'is-dismissible' : '' }} shield-notice-container">

		<div class="shield-notice-content-wrap">
			{% if imgs.icon_shield|default('') is not empty %}
			<div class="shield-notice-icon" aria-hidden="true">
				{{ imgs.icon_shield|raw }}
			</div>
			{% endif %}
			<div class="shield-notice-content">
				{% if strings.title|default('') is not empty %}
					<p class="shield-notice-title"><strong>{{ strings.title }}</strong></p>
				{% endif %}
				<div>
					{% block notice_body %}
						{% if strings.lines|default([]) is not empty %}
							{% for line in strings.lines %}
								<p>{{ line }}</p>
							{% endfor %}
						{% endif %}
						{% if strings.read_more|default('') is not empty %}
						<p><a href="{{ hrefs.read_more }}" target="_blank">{{ strings.read_more }}</a></p>
					{% endif %}
					{% endblock %}
				</div>
			</div>
		</div>
		{% block dismiss_link %}{% endblock %}

	</div>
{% endblock %}
