{% extends "/notices/base-info.twig" %}

{% block notice_body %}
	<p>
		{{ strings.need_you_confirm }}
		<br />{{ strings.please_click_link }}
		{{ strings.email_sent_to }}
	</p>
	<p>
		<span class="fw-bold">
			<a href="#"
			   class="shield_admin_notice_action"
			   data-notice_action="resend_verification_email"
			>{{ strings.how_resend_email }}</a>
		</span>
		/
		<span>
			<a href="#"
			   class="text-warning shield_admin_notice_action"
			   data-notice_action="profile_email2fa_disable"
			>{{ strings.how_turn_off }}</a>
		</span>
	</p>
{% endblock %}