{% extends "/notices/base-info.twig" %}

{% block notice_body %}
	<div id="mc_embed_signup">
		<form class="form form-inline validate" action="{{ hrefs.form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
			<p>{{ strings.summary }}</p>
			<input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="{{ strings.your_email }}" />
			<input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="{{ strings.your_name }}" />
            <br /><div>{{ strings.we_dont_spam }}</div>
			<input type="hidden" value="{{ install_days }}" name="DAYS" class="" id="mce-DAYS" />
			<br /><input type="submit" value="{{ strings.yes }}" name="subscribe" id="mc-embedded-subscribe" class="button" />
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>
			<div style="position: absolute; left: -5000px;"><input type="text" name="b_e736870223389e44fb8915c9a_0e1d527259" tabindex="-1" value=""></div>
			<div class="clear"></div>
		</form>
	</div>
{% endblock %}