
{% if aSummaryData is defined and aSummaryData|length %}

	<div class="row-fluid">
		<div class="span">
			<h3>{{ strings.plugin_activated_features_summary }}</h3>
		</div>
	</div>

	<div class="row-fluid feature-summary-blocks">
		{% for key, aSummary in aSummaryData %}
			{% if (key > 0) and ( key is divisible by(3) )%}
				</div><div class="row-fluid feature-summary-blocks">
			{% endif %}

			<div class="span4 feature-summary-block state-{{ aSummary.enabled? 'on' : 'off' }}" id="feature-{{ aSummary.slug }}">
				<div class="row-fluid">
					<div class="feature-icon span3"></div>
					<div class="span8 offset1">
						<a class="btn btn-{{ aSummary.enabled ? 'success' : 'warning' }}"
						href="{{ aSummary.href }}">
						{{ strings.go_to_settings }}
						</a>
					</div>
				</div>
				<div class="feature-name">
					{{ aSummary.name }} : <span class="feature-enabled-text">{{ aSummary.enabled ? 'on' : 'off' }}</span>
				</div>
			</div>

		{% endfor %}
	</div>

	<style type="text/css">
		.feature-summary-blocks {
		}
		.feature-summary-blocks .feature-summary-block {
			background-color: #F6F6F6;
			border: 1px solid rgba(0, 0, 0, 0.3);
			border-radius: 3px;
			margin-bottom: 20px;
			padding: 0;
		}
		.feature-summary-blocks .feature-summary-block.state-on {
			background-color: rgba( 102, 216, 45, 0.2 );
		}
		.feature-summary-blocks .feature-summary-block.state-off {
			background-color: rgba( 239, 141, 49, 0.2 );
		}
		.feature-summary-blocks .feature-summary-block .row-fluid .feature-icon {
			padding: 20px;
			text-align: center;
		}
		.feature-summary-blocks .feature-summary-block .row-fluid div {
			line-height: 46px;
			padding: 20px;
			text-align: center;
		}
		.feature-summary-blocks .feature-summary-block .feature-icon a {
			margin-left: 53px;
		}
		.feature-summary-blocks .feature-summary-block .feature-name {
			border-top: 1px dashed #999999;
			padding: 5px 20px;
		}
		.feature-summary-blocks .feature-summary-block .feature-name .feature-enabled-text {
			float: right;
		}
		.feature-summary-blocks .feature-summary-block .feature-icon:before {
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font: 48px/1 'dashicons';
			vertical-align: top;
		}
		#feature-dashboard .feature-icon:before,
		#feature-admin_access_restriction .feature-icon:before {
			content: "\f332";
		}
		#feature-firewall .feature-icon:before {
			content: "\f479";
		}
		#feature-user_management .feature-icon:before {
			content: "\f307";
		}
		#feature-login_protect .feature-icon:before {
			content: "\f112";
		}
		#feature-comments_filter .feature-icon:before {
			content: "\f125";
		}
		#feature-autoupdates .feature-icon:before {
			content: "\f463";
		}
		#feature-lockdown .feature-icon:before {
			content: "\f160";
		}
		#feature-audit_trail .feature-icon:before {
			content: "\f115";
		}
	</style>

{% endif %}