<div class="stats-strip" id="SectionStats">
	{% for stat in vars.stats %}
		<div class="stat-cell stat-{{ stat.status_class }}">
			<div class="stat-flipper">
				<div class="stat-front">
					<div class="stat-sparkline">
						<div class="bar"></div>
						<div class="bar"></div>
						<div class="bar"></div>
						<div class="bar"></div>
						<div class="bar"></div>
						<div class="bar"></div>
						<div class="bar"></div>
					</div>
					<div class="stat-value" title="{{ stat.val }}">{{ stat.val_number }}</div>
					<div class="stat-title">{{ stat.title }}</div>
					<div class="stat-subtitle">({{ stat.title_sub }})</div>
				</div>
				<div class="stat-back">
					<div class="summary-chart summary-chart-{{ stat.id }}"
						 title="{{ stat.tooltip_chart|default('') }}"></div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
