{% extends '/components/merlin/steps/base.twig' %}

{% block slide_body_video_section_blurb %}
	<p>Shield uses a default security profile when the plugin is first activated which applies some basic security
	   measures so that your site is protected from some common attacks.</p>
	<p>We recommend you apply as many security restrictions as you can, but for production sites that have integrations
	   with 3rd party services already running, this can cause some issues.</p>
	<p>Please review the 3 pre-made security profiles below, or customise the settings manually.</p>
{% endblock %}

{% block slide_body_action_area %}
	{% import '/common/macros.twig' as icwp_macros %}

	<div class="row mb-2">
		<div class=" mb-2 col-lg-12 col-xl-4">
			<div class="card">

				<div class="card-header">
					Light
				</div>

				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
						  {{ icwp_macros.silentcaptcha() }} threshold: 25
						</li>
						<li class="list-group-item">
							Forms Protected: Registration
						</li>
						<li class="list-group-item">Session lock: none</li>
						<li class="list-group-item">
							Firewall
							<ul style="list-style: outside square">
								<li>Username fishing</li>
								<li>WP File Editing</li>
								<li>WAF: Directory Traversal</li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="card-footer">
				</div>

			</div>
		</div>
		<div class=" mb-2 col-lg-12 col-xl-4">
			<div class="card">

				<div class="card-header">
					Medium - <span class="fst-italic">same as light</span>, plus:
				</div>

				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							{{ icwp_macros.silentcaptcha() }} threshold: 45
						</li>
						<li class="list-group-item">
							Forms Protected:
							<ul style="list-style: outside square">
								<li>Login</li>
								<li>Registration</li>
								<li>Password reset</li>
							</ul>
						</li>
						<li class="list-group-item">Session lock: IP address</li>
						<li class="list-group-item">
							Firewall, plus:
							<ul style="list-style: outside square">
								<li>XML-RPC blocked</li>
								<li>Anonymous REST API</li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="card-footer">
				</div>

			</div>
		</div>
		<div class=" mb-2 col-lg-12 col-xl-4">
			<div class="card">

				<div class="card-header">
					Strong - <span class="fst-italic">same as medium</span>, plus:
				</div>

				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							{{ icwp_macros.silentcaptcha() }} threshold: 75
						</li>
						<li class="list-group-item">
							Session lock:
							<ul style="list-style: outside square">
								<li>IP address</li>
								<li>browser</li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="card-footer">

				</div>

			</div>
		</div>
	</div>


	<form class="form-horizontal merlin-form ajax-form">
		{{ icwp_macros.formInput_Hidden( 'step_slug', vars.step_slug ) }}

		<div class="row mb-2">
			<div class="col">
				<h6 class="pb-1 border-bottom d-inline-block">Login Protection Settings</h6>
			</div>
		</div>

		{{ icwp_macros.formInput_Checkbox(
			'LoginProtectOption', 'Y', 'Protect Login',
			'Protect WordPress login from bot attacks',
			"silentCAPTCHA will detect bots that attempt to login to your site, without challenging your legitimate users."
			~' [<a href="https://silentcaptcha.com/" target="_blank">more info</a>]',
			null, true, 'me-0'
		) }}
		{{ icwp_macros.formInput_Submit2( 'Set Login Protection', null, 'secondary', false ) }}
	</form>
{% endblock %}