{% extends '/components/merlin/steps/base.twig' %}

{% block slide_body_video_section_blurb %}
	<p>Shield uses a default security profile when the plugin is first activated which applies some basic security
	   measures so that your site is protected from some common attacks.</p>
	<p>We recommend you apply as many security restrictions as you can, but for production sites that have integrations
	   with 3rd party services already running, this can cause some issues.</p>
	<p>Please review the 3 pre-made security profiles below, or customise the settings manually.</p>
{% endblock %}

{% block slide_body_video_section %}
	{% import '/common/macros.twig' as icwp_macros %}

	<form class="form-horizontal merlin-form ajax-form">
		{{ icwp_macros.formInput_Hidden( 'step_slug', vars.step_slug ) }}
		{{ icwp_macros.formInput_Hidden( 'security_profile', '', 'SelectedSecurityProfile' ) }}

		<div class="row mb-2">
			<div class="col">
				<h6 class="pb-1 border-bottom d-inline-block">Choose A Profile</h6>
			</div>
		</div>

		<div class="row mb-2 security_profiles_section">
			{% for level_key,level in vars.profile_levels %}
				<div class="mb-2 col-lg-12 col-xl-4">
					<div class="card" data-profile="{{ level_key }}">

						<div class="card-header">
							<h4 class="m-0">{{ level.title }}</h4>
							<small>{{ level.subtitle }}</small>
						</div>

						<div class="card-body">
							<ul class="list-group list-group-flush">

								{% for section_key,section in level.structure %}
									<li class="list-group-item">
										<span class="fw-bold">{{ section.title }}</span>
										<ul class="ps-2" style="list-style: outside square">
											{% for item in section.opts %}
												<li class="d-flex justify-content-between">
													<span
														{% if item.tooltip is not empty %}
															data-bs-toggle="tooltip"
															data-bs-trigger="hover"
															data-bs-placement="top"
															data-bs-title="{{ item.tooltip }}"
															title="{{ item.tooltip }}"
														{% endif %}
													>{{ item.title }}</span>
													{% if item.value is same as (true) %}
														<span class="text-primary">{{ imgs.svgs.shield_check|raw }}</span>
													{% elseif item.value is same as (false) %}
														<span class="text-warning">{{ imgs.svgs.shield_x|raw }}</span>
													{% else %}
														<span class="code">{{ item.value }}</span>
													{% endif %}
												</li>
											{% endfor %}
										</ul>
									</li>
								{% endfor %}
							</ul>
						</div>

						{#                    <div class="card-footer"></div> #}

					</div>
				</div>
			{% endfor %}
		</div>

		{{ icwp_macros.formInput_Submit2( 'Apply The Selected Profile', null, 'secondary', false, 'mt-2' ) }}
	</form>
{% endblock %}