{% extends '/components/merlin/steps/base.twig' %}

{% block slide_body_video_section_blurb %}
	{{ icwp_macros.slideTitle( 'Security Administrators' ) }}

	<p class="description">Shield lets you lock down access to the <em>Shield Security plugin itself</em> using a Security Access PIN.</p>

	<h6 class="more_details">
		<a class="btn btn-link" data-bs-toggle="collapse" data-target=".more_details_body">
			Click For More Details &rarr;</a>
	</h6>
	<div id="MoreDetails" class="collapse more_details_body">
		<div class="card card-body">
			<p class="description">This is important because it means that only admins with the access PIN will be able to:</p>
			<ul>
				<li>View Shield Security settings</li>
				<li>Change Shield Security settings</li>
				<li>Deactivate the Shield Security plugin</li>
			</ul>
			<p class="description">It's also a great layer of security in-case someone gets unauthorized access
			   to your WordPress admin dashboard.</p>
			<p class="description">To turn this option on, please supply a password below (aka 'Access PIN').</p>
		</div>
	</div>

	<h6>Supply A New Security Access PIN</h6>
	<p class="description"><strong>Warning</strong>: You must remember this key to regain access to the Shield plugin.</p>
	<form class="form-horizontal icwp-wizard-form">
	{{ icwp_macros.formInput_Password( 'sec_admin_key', '', 'Access PIN', '', 'Do not forget this key' ) }}
		{{ icwp_macros.formInput_Password( 'AccessKeyConfirm', '', 'Confirm PIN', 'Confirm PIN' ) }}
		{{ icwp_macros.formInput_Hidden( 'wizard-step', 'admin_access_restriction' ) }}
		{{ icwp_macros.formInput_Submit( 'Turn On Security Admin' ) }}
</form>
{% endblock %}