{% extends '/components/merlin/steps/base.twig' %}

{% block slide_body_video_section_blurb %}
	<p>{{ strings.security_badge_text_1 }}</p>
	<p>{{ strings.security_badge_text_2 }}</p>
{% endblock %}

{% block slide_body_action_area %}
	{% import '/common/macros.twig' as icwp_macros %}

	<form class="form-horizontal merlin-form ajax-form">
		{{ icwp_macros.formInput_Hidden( 'step_slug', vars.step_slug ) }}

		<div class="row">
			<div class="col mb-2">
				<h6 class="pb-1 border-bottom d-inline-block">Display Security Badge</h6>
			</div>
		</div>

		<div class="row mb-3">
			<label class="col-4 col-form-label" for="SecurityPluginBadge">Security Badge</label>
			<div class="col-8">
				<select class="form-select" name="SecurityPluginBadge" id="SecurityPluginBadge">
					{% for option in vars.security_badge_options %}
						<option value="{{ option.value_key }}" {% if option.selected %}selected="selected"{% endif %}>{{ option.text }}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		{{ icwp_macros.formInput_Submit2( strings.security_badge_text_button, null, 'secondary', false ) }}
	</form>
{% endblock %}
