{% extends '/components/merlin/steps/base.twig' %}

{% block slide_body_video_section_blurb %}
	<p>{{ strings.blurb_intro }}</p>
	<p>{{ strings.blurb_configured }}</p>

	<p class="mt-3">{{ strings.protecting_intro }}</p>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">{{ strings.list_firewall|raw }}</li>
		<li class="list-group-item">{{ strings.list_bots|raw }}</li>
		<li class="list-group-item">{{ strings.list_scanning|raw }}</li>
		<li class="list-group-item">{{ strings.list_blocking|raw }}</li>
		<li class="list-group-item">{{ strings.list_comments|raw }}</li>
		<li class="list-group-item">{{ strings.list_activity_log|raw }}</li>
		<li class="list-group-item">{{ strings.list_forms|raw }}</li>
	</ul>

	<a href="{{ hrefs.dashboard }}" class="btn btn-secondary mt-3 py-2 px-4">
		{{ strings.next_button }} &rarr;
	</a>
{% endblock %}
