{% if group.card_type == 'category' %}
	<div class="item-box{% if is_healthy %} item-box--good{% elseif bucket_selection.key == 'review' and group.status == 'warning' %} item-box--warning{% endif %}">
		<div class="item-box__header">
			<span class="item-box__header-icon"><i class="{{ group.icon_class }}" aria-hidden="true"></i></span>
			<span class="item-box__header-title">{{ group.label }}</span>
			{% if group.management_link is not empty %}
				<a class="item-box__header-link"
				   href="{{ group.management_link.href }}"
				   {% if group.management_link.target is not empty %}target="{{ group.management_link.target }}"{% endif %}
				   {% if group.management_link.rel is not empty %}rel="{{ group.management_link.rel }}"{% endif %}>
					{{ group.management_link.label }} <i class="bi {{ group.management_link.icon_class }}" aria-hidden="true"></i>
				</a>
			{% endif %}
		</div>
		<div class="item-box__grid">
			{% if group.maintenance_rows is not empty %}
				{% for row in group.maintenance_rows %}
					{% include '/wpadmin/components/actions_queue/compact_summary_row.twig' with {
						row: row
					} only %}
				{% endfor %}
			{% elseif group.summary_row is not empty %}
				{% include '/wpadmin/components/actions_queue/compact_summary_row.twig' with {
					row: group.summary_row
				} only %}
			{% endif %}
		</div>
	</div>
{% else %}
	{% include '/wpadmin/components/actions_queue/finding_card.twig' with {
		group: group,
		bucket_selection: bucket_selection
	} only %}
{% endif %}
