<div class="actions-queue-detail"
	 data-actions-queue-detail="1"
	 data-actions-queue-bucket-key="{{ bucket_key|e('html_attr') }}"
	 data-actions-queue-group-key="{{ group_key|e('html_attr') }}">
	<div class="actions-queue-detail__header">
		<div class="actions-queue-detail__eyebrow">{{ group_label }}</div>
		<div class="actions-queue-detail__summary">{{ strip_text }}</div>
	</div>
	<div class="actions-queue-detail__body">
		{{ detail_html|raw }}
	</div>
</div>
