{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( 'Unrecognised File Scanner - Exclusions' ) }}

	<p>Every website is different, so there are often many different types of files present on web hosts
	that are perfectly legitimate.</p>
	<p>Since we can't account for all these possibilities, we provide you with the option
	   to add your own list of excluded files, that the scanner will then ignore.</p>
	<p>In the box provided below, simply add each file name you want to ignore. If you
	don't know what to put in here just now, or you don't want to add any further exclusions, simply move
	to the next step to run the scanner.</p>
	<p>Note: You can easily come back to this step and add files if the scanner picks anything up
	that you then want to ignore. You can do this as often as you like.</p>
	<p>Please use the list of files below to tell the file scanner which files it should completely ignore:</p>

	<form class="form-horizontal icwp-wizard-form" id>

		<div class="form-group row">
			<label class="col-4 col-form-label" for="_exclusions">Excluded Files List</label>
			<div class="col-8">
				<textarea class="form-control" name="exclusions" rows="{{ data.files.count + 2 }}"
						  placeholder="{{ data.files.list }}" id="_exclusions">{{ data.files.list }}</textarea>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-11">
				Take a <strong>new line</strong> for each file name.
				<br />Note: You may also use regular expressions.
				<br />Regular expressions must <strong>start and end</strong> with a "hash" character
				i.e. <code>#</code>
				<br />You must escape special characters.
				<br />An example: <code>#\.log#</code>
				<br />This will match the following files:
				<code>test.log</code>, <code>text.log.txt</code>, <code>.log.ini</code>
			</div>
		</div>

		{{ slideMacros.formInput_Hidden( 'wizard-step', 'exclusions' ) }}
		{{ slideMacros.formInput_Submit( 'Update File Exclusions' ) }}
	</form>

	<script type="text/javascript">
		jQuery( document ).on( 'icwpWizardFormSubmit', function ( event, bSuccess ) {
			if ( bSuccess ) {
				var $oForm = jQuery( event.target );
				jQuery( 'button[type=submit]', $oForm ).prop( 'disabled', false );
			}
		} );
	</script>
{% endblock %}