{% extends '/wpadmin_pages/insights/base.twig' %}

{% block page_main %}
	<div class="row" id="ModulePageTopRow">
		<div class="col-1 modules smoothwidth" id="ColumnModules">

			<div class="nav flex-column">
				{% for mod_summary in aSummaryData %}
					<a class="nav-link module {% if mod_summary.active %}active{% endif %}
					{% if mod_summary.enabled %}enabled{% else %}notenabled{% endif %}"
					   id="tab-{{ mod_summary.slug }}"
					   data-toggle="tooltip"
					   title="{{ mod_summary.tooltip }}"
					   href="{{ mod_summary.href }}" role="tab">
						<div class="module-icon module-icon-{{ mod_summary.slug }}"
							 id="module-{{ mod_summary.slug }}"></div>
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="col" id="ColumnOptions">
			<div class="content-options"> {{ strings.loading }} ... </div>
		</div>
	</div>
	<script>
		iCWP_WPSF_OptsPageRender.renderForm( {{ ajax.mod_opts_form_render|raw }} );
		iCWP_WPSF_OptionsFormSubmit.updateAjaxReqParams( {{ ajax.mod_options|raw }} );
		jQuery( 'a.nav-link.module' ).tooltip({
			placement: 'right',
			trigger: 'hover'
		} );
		jQuery( 'a.section-help-video' ).tooltip({
			placement: 'right',
			trigger: 'hover'
		} );
	</script>
{% endblock %}