{% if flags.has_custom_rules %}
	<div id="RulesManager">
		<table class="table">
			<thead>
			<tr>
				<th>&nbsp;</th>
				<th>#ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Updated</th>
				{#                <th>Builder Version</th> #}
				<th>Action</th>
				<th>Export</th>
			</tr>
			</thead>
			<tbody>
				{% for rule in vars.custom_rules %}
					<tr class="{{ rule.is_active ? '' : 'table-secondary' }}">
						<td>
							<div class="form-check form-switch">
								<input class="form-check-input active-switch"
									   title="{{ rule.is_active ? strings.deactivate : strings.activate }}"
									   type="checkbox"
									   role="switch"
										{% if rule.is_viable %}
											data-action="{{ rule.is_active ? 'deactivate' : 'activate' }}"
											data-rule_id="{{ rule.rule_id }}"
										{% else %}
											disabled="disabled"
										{% endif %}
										{% if rule.is_active %}checked{% endif %} >
							</div>
						</td>

						<td>{{ rule.rule_id }}</td>
						<td>{{ rule.name }}</td>
						<td>{{ rule.description }}</td>
						<td>{{ rule.created_at }}</td>
						{#                        <td>{{ rule.version }}</td> #}

						<td>
							<a class="btn btn-outline-secondary svg-container"
							   href="{{ rule.href_edit }}">{{ imgs.icon_edit|raw }}</a>
							<button class="btn btn-outline-warning svg-container"
									data-action="delete"
									data-rule_id="{{ rule.rule_id }}"
							>{{ imgs.icon_delete|raw }}</button>
						</td>

						<td>
							<div class="form-check form-switch">
								<input class="form-check-input active-switch"
									   title="{{ rule.can_export ? strings.set_no_export : strings.set_to_export }}"
									   type="checkbox"
									   role="switch"
										{% if rule.is_viable %}
											data-action="{{ rule.can_export ? 'set_no_export' : 'set_to_export' }}"
											data-rule_id="{{ rule.rule_id }}"
										{% else %}
											disabled="disabled"
										{% endif %}
									   {% if rule.can_export %}checked{% endif %} >
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% else %}
	<p>There are no custom rules, yet.</p>
{% endif %}