{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( data.context_sing~' Guard Scan Results' ) }}

	{% if data.result|length == 0 %}
		<p>There were no files discovered that need your attention.</p>
	{% else %}
		<p>{{ data.result|length }} {{ data.context_sing }}(s) that need your attention.</p>

		<div id="accord{{ data.context_sing }}" class="scan-results-accordian">
		{% set resultCounter = 0 %}
			{% for item_name,item_res in data.result %}
				{% set resultCounter = resultCounter + 1 %}

				<div class="card">
				<div class="card-header">
					<h5 class="mb-0">
						<button class="btn btn-link btn-block text-left collapsed"
								data-toggle="collapse" data-target="#coll{{ resultCounter }}">
							{{ data.context_sing }}: {{ item_name }}
						</button>
					</h5>
				</div>

				<div id="coll{{ resultCounter }}" class="collapse" data-parent="#accord{{ data.context_sing }}">
				  <div class="card-body">
					  {% if item_res.different is defined %}
						  <div class="indent_slight">
							  <h6>Modified Files: {{ item_res.different|length }}</h6>
							  {% for file in item_res.different %}
								  <li><code class="filepath">{{ file }}</code></li>
							  {% endfor %}
						  </div>
					  {% endif %}

					  {% if item_res.missing is defined %}
						  <div class="indent_slight">
							  <h6>Missing Files: {{ item_res.missing|length }}</h6>
							  {% for file in item_res.missing %}
								  <li><code class="filepath">{{ file }}</code></li>
							  {% endfor %}
						  </div>
					  {% endif %}

					  {% if item_res.unrecognised is defined %}
						  <div class="indent_slight">
							  <h6>Unrecognised Files: {{ item_res.unrecognised|length }}</h6>
							  {% for file in item_res.unrecognised %}
								  <li><code class="filepath">{{ file }}</code></li>
							  {% endfor %}
						  </div>
					  {% endif %}
				  </div>
				</div>
				<div class="card-footer">
					<form class="icwp-wizard-form">
						<div class="clearfix">
							<div class="btn-group float-right" role="group">
								{% if item_res.flags.can_reinstall %}
									<button class="btn btn-sm btn-outline-success"
											name="action" value="reinstall">
										Re-Install / Upgrade</button>
								{% else %}
									<button class="btn btn-sm btn-outline-success" disabled
											name="action" value="reinstall">
										Re-Install / Upgrade</button>
								{% endif %}

								<button class="btn btn-sm btn-outline-secondary"
										name="action" value="deactivate">
									Deactivate</button>

								<button class="btn btn-sm btn-outline-danger" title="Ignore"
										name="action" value="ignore">
									Ignore Changes</button>
							</div>
						</div>
						{{ slideMacros.formInput_Hidden( 'wizard-step', 'ptg_assetaction' ) }}
						{{ slideMacros.formInput_Hidden( 'slug', item_res.flags.slug ) }}
						{{ slideMacros.formInput_Hidden( 'context', data.context ) }}
					</form>
				</div>
			  </div>
			{% endfor %}
		</div>

	{% endif %}

{% endblock %}