{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}

	<h3>{{ data.context_sing }} Guard Scan Results</h3>
	<p>There are {{ data.result.count }} {{ data.context }}(s) that need your attention.</p>

	<h4>Modified Files</h4>
	{% if data.result.different.has %}
		<p>A total of {{ data.result.different.count }} file(s) were discovered.</p>
		<div class="indent_slight">
			{% for slug,filelist in data.result.different.list %}
				<h4>{{ data.context_sing }}: {{ slug }}</h4>
				<ul>
				{% for file in filelist %}
					<li><code class="filepath">{{ file }}</code></li>
				{% endfor %}
				</ul>
			{% endfor %}
		</div>
	{% else %}
		<p>There were no modified files found.</p>
	{% endif %}

	<h4>Missing Files</h4>
	{% if data.result.missing.has %}
		<p>A total of {{ data.result.missing.count }} file(s) were discovered to be be missing.</p>
		<div class="indent_slight">
			{% for slug,filelist in data.result.missing.list %}
				<h4>{{ data.context_sing }}: {{ slug }}</h4>
				<ul>
				{% for file in filelist %}
					<li><code class="filepath">{{ file }}</code></li>
				{% endfor %}
				</ul>
			{% endfor %}
		</div>
	{% else %}
		<p>There were no files discovered to be missing.</p>
	{% endif %}

	<h4>Unrecognised Files</h4>
	{% if data.result.unrecognised.has %}
		<p>A total of {{ data.result.missing.count }} unrecognised file(s) were discovered.</p>
		<div class="indent_slight">
			{% for slug,filelist in data.result.unrecognised.list %}
				<h4>{{ data.context_sing }}: {{ slug }}</h4>
				<ul>
				{% for file in filelist %}
					<li><code class="filepath">{{ file }}</code></li>
				{% endfor %}
				</ul>
			{% endfor %}
		</div>
	{% else %}
		<p>There were no unrecognised files discovered.</p>
	{% endif %}

{% endblock %}