{% if flags.has_error_msg %}
	<div id="login_error">
		<strong>{{ strings.error_msg }}</strong><br />
	</div>
{% endif %}

<form name="shield_2fa_verify" id="loginform"
      action="{{ hrefs.form_action }}"
      method="post" autocomplete="off">
	<input type="hidden" name="wp_user_id" id="wp_user_id" value="{{ vars.wp_user_id }}" />
	{#  <input type="hidden" name="wp_login_nonce" id="wp_login_nonce" value="{{ vars.login_nonce }}" /> #}
	<input type="hidden" name="rememberme" id="rememberme" value="{{ vars.rememberme }}" />
	{% if flags.is_interim_login %}
		<input type="hidden" name="interim-login" value="1" />
	{% else %}
		<input type="hidden" name="redirect_to" value="{{ vars.redirect_to }}" />
	{% endif %}

	{% for provider in content.providers %}
		{{ provider|raw }}
	{% endfor %}

	<p>
		<input type="submit" name="wp-submit"
		       id="wp-submit" class="button button-primary button-large"
		       value="{{ strings.button_submit }}" />
	</p>
</form>

	<p id="backtoblog">
		<a href="{{ hrefs.home }}" title="{{ strings.back_home }}">
			&larr; {{ strings.back_home }}</a>
	</p>