{% extends 'pages/base.twig' %}

{% block head_stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ hrefs.css_steps }}" />
	<link rel="stylesheet" href="{{ hrefs.css_wizard }}" />
	<link rel="stylesheet" href="{{ hrefs.css_fancybox }}" />
{% endblock %}

{% block head_scripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ hrefs.js_steps }}"></script>
	<script type="text/javascript" src="{{ hrefs.js_wizard }}"></script>
	<script type="text/javascript" src="{{ hrefs.js_fancybox }}"></script>
{% endblock %}

{% block body_content_main %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div id="wizard">
				{% for wizard in data.wizards %}
					<li>{{ wizard.title }}</li>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

{% block body_footer %}
{% endblock %}