{% extends 'pages/base.twig' %}

{% block head_stylesheets %}
	{{ parent() }}
{% endblock %}

{% block head_scripts %}
	{{ parent() }}
{% endblock %}

{% block body_content_main %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div id="wizards">
				<p>This module comes with {{ data.wizard_count }} Wizard(s).</p>
				<p>Please click the link below of the Guided Wizard you'd like to launch.</p>
				{% for wizard in data.wizards %}
					<li><a href="{{ wizard.url }}">{{ wizard.title }}</a></li>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

{% block body_footer %}
{% endblock %}