{% extends '/integration/mainwp/pages/page_base.twig' %}

{% block actions_bar %}
	<div class="mainwp_shield_tabs_content" data-tab="dashboard">
	<div class="mainwp-actions-bar">
		<div class="ui grid">
			<div class="ui two column row">
				<div class="middle aligned column ui mini form">

					<div class="ui dropdown selection" tabindex="0">
						<select id="mwp_shield_plugin_action">
							<option value="-1">Bulk Actions</option>
							<option value="activate-selected">Activate</option>
							<option value="update-selected">Update</option>
							<option value="hide-selected">Hide</option>
							<option value="show-selected">Unhide</option>
						</select>
						<i class="dropdown icon"></i>
						<div class="text">Bulk Actions</div>
						<div class="menu" tabindex="-1">
							<div
									class="item active selected" data-value="-1" data-text="Bulk Actions">Bulk Actions</div>
							<div
									class="item" data-value="activate-selected" data-text="Activate">Activate</div>
							<div class="item" data-value="update-selected" data-text="Update">Update</div>
							<div class="item" data-value="hide-selected" data-text="Hide">Hide</div>
							<div class="item" data-value="show-selected" data-text="Unhide">Unhide</div>
						</div>
					</div>

					<input type="button" value="Apply"
					       class="ui basic mini button action"
					       id="shield_plugin_doaction_btn"
					       name="shield_plugin_doaction_btn">
				</div>

				<div class="right aligned middle aligned column">
					<span id="mainwp_shield_remind_change_status"></span>
					<a href="#" id="mainwp-shield-kill-scan" class="ui mini button">Stop Scan Process</a>
					<a href="#" id="mainwp-shield-run-scan" class="ui mini green button shield-run-scan"
					   title="Start a Wordfence Scan">Scan all Child Sites</a>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block body_main %}
	<div class="ui stackable grid">

		<div class="row">
			<div class="sixteen column">

				<table id="mainwp-shield-extension-table-sites" class="mainwp-shield-ext-table ui single line table"
				       style="width:100%">
					<thead>
						<tr>
							<th class="collapsing no-sort check-column">
								<span class="ui checkbox">
									<input type="checkbox" name="checkall" class="url_checkall" id="url_checkall" />
								</span>
							</th>
							<th>{{ strings.site }}</th>
							<th>{{ strings.url }}</th>
							<th>{{ strings.status }}</th>
							<th>{{ strings.issues }}</th>
							<th>{{ strings.version }}</th>
							<th>{{ strings.last_sync }}</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
					{% for site in vars.sites %}
						<tr class="shield_site_row" data-shield_status="{{ site.shield.status_key }}">

							<td class="check-column">
								<span class="ui checkbox">
									<input type="checkbox" name="checkbox_url" class="checkbox_url" />
								</span>
							</td>

							<td>
								{% if site.shield.is_active %}
									<a href="{{ site.shield.href_manage }}"
									   class="ui mini compact button">{{ strings.manage }}</a>
								{% else %}
									{{ site.name }}
								{% endif %}
							</td>

							<td><a href="{{ site.url }}" target="_blank">{{ site.url }}</a></td>
							{% if site.shield.is_active %}
								<td>
									{{ site.shield.status }}
								</td>

								<td>
									<a href="{{ site.shield.href_issues }}"
									   class="ui mini compact button {{ site.shield.has_issues ? 'red':'green' }}"
									   target="_blank">{{ site.shield.issues }}</a>
								</td>

								<td>
									{{ site.shield.meta.version }}
								</td>
								<td>
									{{ site.shield.sync_at_diff }}
									<br /><small>{{ site.shield.sync_at_text }}</small>
								</td>
							{% elseif site.shield.is_inactive %}
								<td colspan="4" class="cell-span-issue">{{ strings.st_inactive }}</td>
							{% elseif site.shield.is_notpro %}
								<td colspan="4" class="cell-span-issue">{{ strings.st_notpro }}</td>
							{% elseif site.shield.is_mwpnoton %}
								<td colspan="4" class="cell-span-issue">{{ strings.st_mwpnoton }}</td>
							{% elseif site.shield.is_sync_rqd %}
								<td colspan="4" class="cell-span-issue">{{ strings.st_sync_rqd }}</td>
							{% elseif site.shield.is_version_mismatch %}
								<td colspan="4" class="cell-span-issue">{{ strings.st_version_mismatch }}</td>
							{% elseif site.shield.is_notinstalled %}
								<td colspan="4" class="cell-span-issue">{{ strings.st_notinstalled }}</td>
							{% else %}
								<td colspan="4" class="cell-span-issue">{{ strings.st_unknown }}</td>
							{% endif %}
							<td>
								<div class="site-dropdown ui left pointing dropdown icon mini basic green button"
								     style="z-index: 999;" tabindex="0">
									<i class="ellipsis horizontal icon"></i>
									<div class="menu" tabindex="-1" data-sid="{{ site.id }}">

										<a href="#"
										   data-saction="sync"
										   class="item site_action {% if not site.shield.can_sync %}disabled{% endif %}"
										>{{ strings.act_sync }}</a>

										{% if site.shield.is_inactive %}
											<a href="#"
											   data-saction="activate"
											   class="item site_action"
											>{{ strings.act_activate }}</a>

										{% elseif site.shield.is_notinstalled %}
											<a href="#"
											   data-saction="install"
											   class="item site_action"
											>{{ strings.act_install }}</a>

										{% else %}
											<a href="#"
											   data-saction="deactivate"
											   class="item site_action"
											>{{ strings.act_deactivate }}</a>
										{% endif %}

										<a href="#"
										   class="item site_action {% if not site.shield.is_active %}disabled{% endif %}"
												{% if site.shield.is_mwpnoton %}
													data-saction="mwp"
													{% set linktxt = strings.act_mwp %}
												{% else %}
													data-saction="license"
													{% set linktxt = strings.act_license %}
												{% endif %}
										>{{ linktxt }}</a>
									</div>
								</div>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>

			</div>
		</div>

	</div>

{% endblock %}