<h6 class="card-title">
	{{ strings.title }}
	<span class="badge bg-info">{{ vars.total_sessions }}</span>
</h6>
{% if vars.total_sessions < 1 %}
	<div class="alert-info alert">{{ strings.no_sessions }}</div>
{% else %}
	<table class="table">
		<thead class="thead-light">
		<tr>
			<th scope="col">{{ strings.username }}</th>
			<th scope="col">{{ strings.last_activity_at }}</th>
			<th scope="col">{{ strings.logged_in_at }}</th>
		</tr>
		</thead>
		<tbody>
		{% for session in vars.sessions %}
			<tr>
			<td>
				<span>{{ session.user_login }}</span>
				<span>
					{% if session.is_sec_admin %}
						<a class="dashicons dashicons-shield-alt"
						   title="{{ strings.sec_admin }}"
						   data-bs-toggle="tooltip"></a>
					{% endif %}
				</span>
			</td>
			<td>
				{{ session.last_activity_at_ago }}
				<div class="timestamp-small">{{ session.last_activity_at }}</div>
			</td>
			<td>
				{{ session.logged_in_at_ago }}
				<div class="timestamp-small">{{ session.logged_in_at }}</div>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}