<h5 class="mb-1">
	{{ strings.title }}
	<span class="badge {% if vars.total_requests > 0 %}bg-info{% else %}bg-secondary{% endif %}">
		{{ vars.total_requests }}
	</span>
</h5>
{% if flags.log_display_limit_reached %}
	<p>{{ strings.display_limit }}</p>
{% endif %}

{% if vars.total_requests < 1 %}
	<p>{{ strings.no_requests }}</p>
{% else %}
	<div class="">
		<table class="table">
			<thead class="thead-light">
			<tr>
				<th scope="col">{{ strings.verb }}</th>
				<th scope="col">{{ strings.requested_at }}</th>
				<th scope="col">{{ strings.response }}</th>
			</tr>
			</thead>
			<tbody>
			{% for request in vars.requests %}
				<tr>
					<td class="text-wrap" style="word-break: break-all">
						<code class="text-uppercase d-inline-block">{{ request.verb }}</code> :
						<div>
							<code>{{ request.path }}</code>
						</div>
						{% if request.query is not empty %}
							<div>{{ strings.query }}:<code>?{{ request.query }}</code></div>
						{% endif %}
					</td>

					<td>
						{{ request.created_at_ago }}
						<div class="timestamp-small">{{ request.created_at }}</div>
					</td>

					<td>
						<div>
							{{ strings.http_code }}:
							<code class="text-uppercase d-inline-block">{{ request.code }}</code>
						</div>
						<div>
							{{ strings.offense }}:
							<span class="badge bg-{{ request.trans ? 'danger':'success' }}">
								{{ request.trans ? 'Yes':'No' }}
							</span>

						</div>
					</td>

				</tr>
			{% endfor %}
			</tbody>
			{% if flags.log_display_limit_reached %}
				<tfoot>
				 <tr>
					 <td colspan="3" class="text-center border-0"><h2>&hellip;</h2></td>
				 </tr>
				</tfoot>
			{% endif %}
		</table>
	</div>
{% endif %}