{% import "/common/macros.twig" as icwp_macros %}

{% block inner_page_header %}

	{% if strings.inner_page_title|default('') is not empty %}
		<div class="row border-bottom mb-3 inner-page-header">
			<div class="col">
				<h4 class="mb-3">
					{{ strings.inner_page_title|default('No inner page title set') }}
					{% block inner_page_title_after %}{% endblock %}
					{% if strings.inner_page_subtitle|default('') is not empty %}
						<br />
						<small class="inner-page-subtitle">
							{{ strings.inner_page_subtitle|default('') }}
						</small>
					{% endif %}
				</h4>

			</div>
			<div class="col-2 text-end inner-page-config">

				{% if hrefs.inner_page_config|default('') is not empty %}

					<div class="btn-group dropstart">
								<button type="button"
								        class="btn btn-link dropdown-toggle"
								        data-bs-toggle="dropdown"
								        aria-expanded="false">{{ imgs.svgs.settings|raw }}</button>
								<ul class="dropdown-menu">
									{% for item in hrefs.inner_page_config %}
										<li>
											{% if item.href|default('') is empty %}
												<h6 class="dropdown-header">{{ item.text }}</h6>
											{% else %}
												{{ icwp_macros.tagAnchor(
													item.href,
													item.text,
													item.id|default(''),
													item.classes|default([])|merge(['dropdown-item'])
												) }}
											{% endif %}
										</li>
									{% endfor %}
								</ul>
						</div>

				{% endif %}
			</div>
		</div>
	{% endif %}

{% endblock %}

{% block inner_page_body %}
{% endblock %}