{% extends '/wpadmin_pages/plugin_admin/inner_page.twig' %}

{% block inner_page_body %}

	{{ content.summary_charts|raw }}

	<div class="row">
		{% for widget in vars.widgets %}
			<div class="col-xl-{{ widget.width|default(6) }} mt-4">
				<div class="card">
					<div class="card-body">
						{{ widget.content|raw }}
						<h6 class="card-title mb-0 mt-3">
							<a href="{{ widget.href }}" class="fw-normal">{{ widget.title }} &rarr;</a>
						</h6>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}