{% extends '/wpadmin_pages/plugin_admin/base_inner_page.twig' %}

{% block inner_page_body %}
	<div id="SectionAdminNotes" class="p-0">
		<form id="NewAdminNote" action="#" method="post" autocomplete="off">
			<div class="input-group w-100">
				<div class="input-group-text" style="border-radius: 0">{{ strings.note_new }}:</div>
				<input class="form-control"
				       id="AdminNote"
				       name="admin_note"
				       type="text"
				       placeholder="{{ strings.note_enter }}" />
				<button type="submit" class="btn btn-info action insert" style="border-radius: 0;" name="subbutt"
				>{{ strings.note_add }}</button>
			</div>
		</form>

		<div id="TableAdminNotes" class="p-0"></div>
	</div>
		<script>
		let $oTableAdminNotes = jQuery( '#TableAdminNotes' ).icwpWpsfAjaxTable(
		  {
			  'ajax_render':{{ ajax.render_adminnotes|raw }}
		  }
	  );
	  jQuery( '#SectionAdminNotes' ).icwpWpsfTableActions(
		  {
			  'table': $oTableAdminNotes,
			  'ajax_item_delete':{{ ajax.item_delete|raw }},
			  'ajax_item_insert':{{ ajax.item_insert|raw }},
			  'ajax_bulk_action':{{ ajax.bulk_action|raw }},
			  'forms': {
				  'insert': jQuery( 'form#NewAdminNote' )
			  }
		  }
	  );
	</script>
{% endblock %}