{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}
	{{ icwp_macros.slideTitle( 'Security Admin Verification' ) }}

	<p class="description">Since you have previously turned-on the Security Admin system, we just need you to verify access before proceeding.</p>

	<form class="form-horizontal icwp-wizard-form">
		{{ icwp_macros.formInput_Hidden( 'current_index', current_index ) }}
		{{ icwp_macros.formInput_Hidden( 'wizard-step', 'security_admin_verify' ) }}
		{{ icwp_macros.formInput_Password( 'sec_admin_key', '', 'Security PIN' ) }}
		{{ icwp_macros.formInput_Submit( 'Submit Key' ) }}
	</form>

{% endblock %}
{% block slide_header %}
{% endblock %}
{% block slide_footer %}
{% endblock %}