<div class="row">
	<div class="col scan-item-history">
		<h4 class="mb-3">File: <span style="font-family: monospace">
				{{ vars.path_fragment }}</span></h4>
		<ul style="list-style: inside disc">
			<li>{{ strings.file_full_path|raw }}</li>
			<li>{{ strings.file_status|raw }}</li>
		</ul>
		<h6>{{ strings.file_description }}</h6>
		<ul>
			{% for line in vars.file_description %}
				<li>{{ line|raw }}</li>
			{% endfor %}
		</ul>
	</div>
</div>