<div class="row">
	<div class="col insights-sub-nav insights_section">
		<ul class="nav nav-tabs">

			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" role="tab" href="#tabInfo"
				   data-bs-toggle="tab">
					{{ strings.tab_info }}
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" role="tab" href="#tabHistory"
				   data-bs-toggle="tab">
					{{ strings.tab_history }}
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" role="tab" href="#tabContents"
				   data-bs-toggle="tab">
					{{ strings.tab_filecontents }}
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" role="tab" href="#tabDiff"
				   data-bs-toggle="tab">
					{{ strings.tab_diff }}
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="tab-content">

	<div class="tab-pane show active" id="tabInfo" role="tabpanel" aria-labelledby="tabInfo">
		<div class="row">
			<div class="col pt-3">
				{{ content.tab_info|raw }}
			</div>
		</div>
	</div>

	<div class="tab-pane" id="tabHistory" role="tabpanel" aria-labelledby="tabHistory">
		<div class="row">
			<div class="col pt-3" id="TabHistory">
				{{ content.tab_history|raw }}
			</div>
		</div>
	</div>

	<div class="tab-pane" id="tabContents" role="tabpanel" aria-labelledby="tabContents">
		<div class="row">
			<div class="col pt-3">
				{{ content.tab_filecontents|raw }}
			</div>
		</div>
	</div>

	<div class="tab-pane" id="tabDiff" role="tabpanel" aria-labelledby="tabDiff">
		<div class="row">
			<div class="col pt-3" id="TabHistory">
				{% if flags.has_diff %}
					{{ content.tab_diff|raw }}
				{% else %}
					<p>{{ content.tab_diff }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>