<div class="row overview-card-row mb-3" id="overview-card-shuffle">
{% for card_section in vars.overview_cards %}
	{% for card in card_section.cards %}
		<div class="col-xl-2 col-lg-3 col-md-4 card-item">
				<div class="text-center overview card mb-3
				{% if card.state == -1 %}
				state-warning
				{% elseif card.state == 0 %}
				state-ok
				{% else %}
				state-good
				{% endif %}
				"
					 id="overviewcard-{{ card.id }}"
					 {% if card.summary is defined %}title="{{ card.summary }}"{% endif %}
				>
					<div class="card-header font-weight-bolder">
						{{ card.name }}
					</div>
					<div class="card-body">
						{{ card.summary }}
					</div>
					<div class="card-footer text-right">
						<a href="{{ card.href }}" title="{{ strings.go_to_options }}"
						   class=""><span class="dashicons dashicons-admin-generic"></span></a>
					</div>
				</div>
			</div>
	{% endfor %}
{% endfor %}
	</div>
<script>

document.addEventListener( 'DOMContentLoaded', function () {
	window.demo = new ShieldCardShuffle(
		document.getElementById( 'overview-card-shuffle' ),
		'.card-item'
	);
} );
</script>