<div class="row" id="SectionStats">
	{% for stat in vars.insight_stats %}
		<div class="col-lg-2 col-md-4">
			<div class="stat card text-center" id="statcard-{{ stat.id }}"
				 {% if stat.tooltip is defined %}title="{{ stat.tooltip }}"{% endif %}
			>
				<div class="card-header">
					<p class="mb-0">{{ stat.title }}</p>
					<span>({{ stat.title_sub }})</span>
				</div>
				<div class="card-body">
					<div class="stat-chart"
						 {% if stat.tooltip_chart is defined %}title="{{ stat.tooltip_chart }}"{% endif %}></div>
					<h6 style="font-size: small" {% if stat.tooltip_p is defined %}title="{{ stat.tooltip_p }}"{% endif %}>{{ stat.val }}</h6>
				</div>
			</div>
		</div>
	{% endfor %}
</div>