<div class="offcanvas-header">
  <h5 class="offcanvas-title">
	  {% block title %}{{ strings.title|default('provide title') }}{% endblock %}
  </h5>
  <button type="button" class="btn-close text-reset"
          data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
  {% block body %}
	  {% block body_components %}
		  <ul class="list-group">

			  {% for component in vars.components %}

				  {% if component.href is empty %}
					  <span
				  {% else %}
					  <a href="{{ component.href }}" target="_blank"
				  {% endif %}
				     class="meter-analysis-link list-group-item list-group-item-action
					     {{ component.is_critical|default(false) ? 'list-group-item-danger' : (component.protected ? 'list-group-item-success' : 'list-group-item-warning') }}"
						  aria-current="true">

					  <div class="w-100">
						  <h5 class="mb-1">{{ component.title|default('NO Title') }}
							  <div class="float-end"><span
										  class="badge bg-dark text-white {{ component.protected ? '' : ' opacity-25' }}">
									 &plus;{{ component.weight_as_percent|default(0) }}
								  </span></div>
						  </h5>
					  </div>

					  <p class="mb-1">
						  {{ component.protected ? component.desc_protected|default('NO DESCRIPTION') : component.desc_unprotected|default('NO DESCRIPTION') }}
					  </p>

				  {% if component.href is empty %}
					  </span>
				  {% else %}
					  </a>
				  {% endif %}

			  {% endfor %}
		  </ul>
	  {% endblock %}

	  <p class="mt-4">
	  * {{ strings.scores_footnote1 }} {{ strings.scores_footnote2 }}
	  </p>
  {% endblock %}
</div>