<h5 class="mb-3">
	{{ strings.title }}
	<span class="badge {% if vars.total_logs > 0 %}bg-info{% else %}bg-secondary{% endif %}">
		{{ vars.total_logs }}
	</span>
</h5>

{% if vars.total_logs <1 %}
	<p>{{ strings.no_logs }}</p>
{% else %}

	<div class="">
		<table class="table">
			<thead class="thead-light">
			<tr>
				<th scope="col">{{ strings.username }}</th>
				<th scope="col">{{ strings.event }}</th>
				<th scope="col">{{ strings.created_at }}</th>
			</tr>
			</thead>
			<tbody>
			{% for log in vars.logs %}
				<tr>
					<td>
						<span>{{ log.user }}</span>
					</td>
					<td class="w-50">{{ log.event }}</td>
					<td>
						{{ log.created_at_ago }}
						<div class="timestamp-small">{{ log.created_at }}</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endif %}