<h5 class="mb-3">
	{{ strings.title }}
	<span class="badge bg-info">{{ vars.total_signals }}</span>
</h5>

{% if not flags.has_signals %}
	<div class="alert-secondary alert">{{ strings.no_signals }}</div>
{% else %}
	<div class="">

		<p class="my-2">
		{{ strings.total_score }}:
			<span class="badge bg-{{ vars.total_score > 0 ? 'success':'danger' }}">
				{{ vars.total_score }}
			</span>
			/ {{ strings.bot_probability }}: {{ vars.probability }}&percnt;
		</p>

		<table class="table">
			<thead class="thead-light">
			<tr>
				<th scope="col">{{ strings.signal }}</th>
				<th scope="col">{{ strings.score }}</th>
				<th scope="col">{{ strings.when }}</th>
			</tr>
			</thead>
			<tbody>
			{% for signal,signal_at in vars.signals %}
				<tr>
					<td>
						<span>{{ attribute(strings.signal_names, signal) }}</span>
					</td>
					<td>
						<span class="badge bg-{{ attribute(vars.scores, signal) > 0 ? 'success':'danger' }}">
							{{ attribute(vars.scores, signal) }}
						</span>
					</td>
					<td class="w-50">{{ signal_at }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endif %}