<div class="row">

	<div class="col">
		<h5 class="mb-3">{{ strings.title_status }}</h5>

		<dl>
			<dt class="mb-1">{{ strings.status.offenses }}</dt>
			<dd>
				<p>
					<span class="bigger-badge badge bg-{{ vars.status.offenses > 0 ? 'danger' : 'success' }}">
						{{ vars.status.offenses }}
					</span>
					{% if vars.status.offenses > 0 %}
						<a href="#" class="ms-2 text-primary ip_analyse_action"
						   data-ip_action="reset_offenses" data-ip="{{ vars.ip }}">{{ strings.reset_offenses }}</a>
					{% endif %}
				</p>
			</dd>

			<dt class="mb-1">{{ strings.status.is_blocked }}</dt>
			<dd>
				<p>
					<span class="bigger-badge badge bg-{{ vars.status.is_blocked ? 'danger' : 'success' }}">
						{{ vars.status.is_blocked ? strings.status.block_type : strings.no }}
					</span>
					{% if vars.status.is_blocked %}
						<a href="#" class="ms-2 text-primary ip_analyse_action"
						   data-ip_action="unblock" data-ip="{{ vars.ip }}">{{ strings.unblock_ip }}</a>
					{% elseif not vars.status.is_bypass %}
						<a href="#" class="ms-2 text-primary ip_analyse_action"
						   data-ip_action="block" data-ip="{{ vars.ip }}">{{ strings.block_ip }}</a>
					{% endif %}
				</p>
			</dd>

			<dt class="mb-1">{{ strings.status.is_bypass }}</dt>
			<dd>
				<p>
					<span class="bigger-badge badge bg-{{ vars.status.is_bypass ? 'warning' : 'success' }}">
						{{ vars.status.is_bypass ? strings.yes : strings.no }}
					</span>
					{% if vars.status.is_bypass %}
						<a href="#" class="ms-2 text-primary ip_analyse_action"
						   data-ip_action="unbypass" data-ip="{{ vars.ip }}">{{ strings.unbypass_ip }}</a>
					{% else %}
						<a href="#" class="ms-2 text-primary ip_analyse_action"
						   data-ip_action="bypass" data-ip="{{ vars.ip }}">{{ strings.bypass_ip }}</a>
					{% endif %}
				</p>
			</dd>

			<dt class="mb-1">{{ strings.status.ip_reputation }}</dt>
			<dd>
				<p>
					<span class="bigger-badge badge bg-{{ vars.status.is_bot ? 'warning' : 'success' }}">
						{{ vars.status.ip_reputation_score }}
					</span>
					<a href="#" class="ms-2 text-primary ip_analyse_action"
					   data-ip_action="delete_notbot" data-ip="{{ vars.ip }}">{{ strings.delete_notbot }}</a>
				</p>
			</dd>

			<dt class="mb-1">{{ strings.status.snapi_ip_reputation }}</dt>
			<dd>
				<p>
					<span class="bigger-badge badge bg-{{ vars.status.is_bot ? 'warning' : 'success' }}">
						{{ vars.status.snapi_reputation_score }}
					</span>
					<a href="{{ hrefs.snapi_reputation_details }}"
					   target="_blank"
					   class="ms-2 text-primary"
					>{{ strings.see_details }}</a>
				</p>
			</dd>
		</dl>
	</div>

	<div class="col">
		<h5 class="mb-3">{{ strings.title_general }}</h5>

		<dl>
			<dt>{{ strings.identity.who_is_it }}</dt>
			<dd>
				<p>{{ vars.identity.who_is_it }}</p>
			</dd>

			<dt>{{ strings.identity.rdns }}</dt>
			<dd>
				<p>{{ vars.identity.rdns }}</p>
			</dd>

			<dt>{{ strings.identity.country }}
{#				({{ strings.identity.timezone }})#}
			</dt>
			<dd>
				<p>
					{{ vars.identity.country_name }}
{#					({{ vars.identity.timezone }})#}
				</p>
			</dd>

{#			<dt>{{ strings.identity.coordinates }}</dt>#}
{#			<dd>#}
{#				<p>{{ vars.identity.coordinates }}</p>#}
{#			</dd>#}
		</dl>
	</div>

	<div class="col">
		<h5 class="mb-3">{{ strings.extras.title }}</h5>

		<dl>
			<dt>{{ strings.extras.ip_whois }}</dt>
			<dd>
				<p><a href="{{ vars.extras.ip_whois }}" target="_blank">{{ strings.extras.query_ip_whois }}</a></p>
			</dd>
		</dl>
	</div>

</div>