<h6>
	{% if progress == 100 %}
		{{ completed }}
	{% else %}
		{{ current_scan }}: {{ scan }}
	{% endif %}
</h6>
<p>{{ remaining_scans }}</p>
<div class="progress">
	<div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
		 style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
	</div>
</div>
<p class="mt-2">{{ patience_1 }}
	{{ patience_2 }}
</p>