{% extends '/components/modals/base_modal_content.twig' %}

{% block modal_title %}
	{{ strings.modal_title }}
{% endblock %}

{% block modal_body %}
	<div data-shield-scan-modal-state="{{ vars.modal_state }}"
		 aria-busy="{{ vars.is_busy ? 'true' : 'false' }}"
		 data-shield-scan-modal-announcement="{{ vars.announcement }}">
		<h6>{{ vars.heading }}</h6>
		<p>{{ vars.remaining_scans }}</p>
		{% if vars.show_progress %}
			<div class="progress">
				<div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
					 style="width: {{ vars.progress }}%"
					 aria-label="{{ strings.progress_label }}"
					 aria-valuenow="{{ vars.progress }}" aria-valuemin="0" aria-valuemax="100">
				</div>
			</div>
			<p class="mt-2">{{ strings.patience_1 }}
				{{ strings.patience_2 }}
			</p>
		{% endif %}
	</div>
{% endblock %}
