<div class="modal fade" role="dialog"
	 id="AptoGeneralPurposeDialog"
	 tabindex="-1"
	 aria-labelledby="AptoGeneralPurposeDialogTitle"
	 aria-describedby="AptoGeneralPurposeDialogMessage"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="AptoGeneralPurposeDialogTitle">{{ strings.confirm_title }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ strings.close|e('html_attr') }}"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row no-gutters row-cols-1">
						<div class="col" id="AptoGeneralPurposeDialogMessage">{{ strings.are_you_sure }}</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" data-shield-dialog-cancel="1">{{ strings.cancel }}</button>
				<button type="button" class="btn btn-primary" data-shield-dialog-confirm="1">{{ strings.confirm }}</button>
			</div>
		</div>
	</div>
</div>
