{% block input %}
	{% block before_input %}{% endblock %}
	{% if field.element|default('input') == "input" %}
		<input
				type="{{ field.type }}"
				name="{{ field.name }}"
				value="{{ field.value|default('') }}"
				class="form-control{% for class in field.classes|default([]) %} {{ class }}{% endfor %}"
				id="{{ field.id|default(field.name) }}"
				placeholder="{{ field.placeholder|default('') }}"
				autocomplete="off"
				{% for datakey, dataval in field.datas|default([]) %}
					data-{{ datakey }}="{{ dataval }}"
				{% endfor %}
				{% block input_field_attribute %}{% endblock %}
		>
	{% else %}
		<button
				type="{{ field.type }}"
				name="{{ field.name }}"
				value="{{ field.value|default('') }}"
				class="form-control{% for class in field.classes|default([]) %} {{ class }}{% endfor %}"
				id="{{ field.id|default(field.name) }}"
				{% for datakey, dataval in field.datas|default([]) %}
					data-{{ datakey }}="{{ dataval }}"
				{% endfor %}
				{% block button_field_attribute %}{% endblock %}
		>{{ field.text }}</button>
	{% endif %}
	{% block after_input %}{% endblock %}
{% endblock %}