{% block input %}
	{% block before_input %}{% endblock %}
	{% if field.element == "input" %}
		<input
				type="{{ field.type }}"
				name="{{ field.name }}"
				value="{{ field.value }}"
				class="form-control{% for class in field.classes %} {{ class }}{% endfor %}"
				id="{{ field.id }}"
				placeholder="{{ field.placeholder }}"
				autocomplete="off"
				{% for datakey, dataval in field.datas %}
					data-{{ datakey }}="{{ dataval }}"
				{% endfor %}
				{% block input_field_attribute %}{% endblock %}
		>
	{% else %}
		<button
				type="{{ field.type }}"
				name="{{ field.name }}"
				value="{{ field.value }}"
				class="form-control{% for class in field.classes %} {{ class }}{% endfor %}"
				id="{{ field.id }}"
				{% for datakey, dataval in field.datas %}
					data-{{ datakey }}="{{ dataval }}"
				{% endfor %}
				{% block button_field_attribute %}{% endblock %}
		>{{ field.text }}</button>
	{% endif %}
	{% block after_input %}{% endblock %}
{% endblock %}
