<div class="h-100 d-flex align-items-center justify-content-center">

	<a class="btn btn-outline-secondary svg-container me-2"
	   href="{{ hrefs.edit }}"
	   title="{{ strings.edit }}"
	><i class="{{ imgs.icon_edit }}" aria-hidden="true"></i></a>

	<button class="btn btn-outline-warning svg-container action delete"
			title="{{ strings.delete }}"
			data-sub_action="delete"
			data-rid="{{ vars.rid }}"
	><i class="{{ imgs.icon_delete }}" aria-hidden="true"></i></button>
</div>
