{# https://stackoverflow.com/questions/31620292/bootstrap-modal-with-select2-z-index #}
{% if vars.search_select is defined %}
	<select class="select2picker static"
			onchange="location = this.value;"
			style="max-width: 100%; width: 100%"
	>
		{% for select_section_name,select_section_opts in vars.search_select|default([]) %}
			<optgroup label="{{ select_section_name }}">
				{% for select_opt_key,select_opt_data in select_section_opts %}
					<option value="{{ select_opt_data.href }}"
							aria-selected="false"
							data-tokens="{{ select_opt_data.summary }} {{ select_opt_data.description|join(' ') }}"
					>{{ select_opt_data.name }}
					</option>
				{% endfor %}
			</optgroup>
		{% endfor %}
	</select>
{% endif %}