{% extends '/wpadmin_pages/base.twig' %}

{% block h1heading %}<h1 style="display: none;">&nbsp;</h1>{% endblock %}

{% block page_head %}

	{% if strings.top_page_warnings|default([]) is not empty %}
		{% for warning in strings.top_page_warnings %}
			<div class="row">
				<div class="col bg-{{ warning.type }}">
					{% for each_line in warning.text %}<p class="my-1 text-center">{{ each_line|raw }}</p>{% endfor %}
				</div>
			</div>
		{% endfor %}
	{% endif %}

	<div class="row justify-content-between mb-3 {% if not flags.is_mode_live %}bg-warning{% endif %}"
	     id="apto-PageHeader">

		<div class="col d-flex align-items-center">
			<h5 class="my-0 ms-3" id="PageTitle">
				{% block page_head_titlemenu %}
					{{ strings.page_title }}
					{% if not flags.is_mode_live %}<small class="text-white fs-6">(Staging or Debug Mode)</small>{% endif %}
				{% endblock page_head_titlemenu %}
			</h5>
		</div>

		<div class="col d-flex justify-content-end align-items-center">
			{% if not flags.is_whitelabelled %}
				<a href="#SGBF-open-62e5437476b962001357b06d"
				   class="page-header-item page-header-icon">{{ imgs.svgs.megaphone|raw }}</a>
			{% endif %}
			<a href="{{ hrefs.helpdesk }}" target="_blank"
			   class="page-header-item page-header-icon">{{ imgs.svgs.helpdesk|raw }}</a>

			<a href="{{ hrefs.plugin_home }}" class="page-header-item" target="_blank">
				<img class="navbar-brand me-3"
				     src="{{ imgs.logo_banner }}"
				     id="navbar-bannerlogo"
				     style=""
				>
			</a>
		</div>

	</div>
{% endblock %}

{% block page_main %}
{% endblock %}

{% block page_foot %}
{% endblock %}

{% block inline_styles %}

	<script>
    window.SGBFWidgetLoader = window.SGBFWidgetLoader || {
		ids: [], call: function ( w, d, s, l, id ) {
			w[ 'sgbf' ] = w[ 'sgbf' ] || function () {
				(w[ 'sgbf' ].q = w[ 'sgbf' ].q || []).push( arguments[ 0 ] );
			};
			var sgbf1 = d.createElement( s ), sgbf0 = d.getElementsByTagName( s )[ 0 ];
			if ( SGBFWidgetLoader && SGBFWidgetLoader.ids && SGBFWidgetLoader.ids.length > 0 ) {
				SGBFWidgetLoader.ids.push( id );
				return;
			}
			SGBFWidgetLoader.ids.push( id );
			sgbf1.onload = function () {
				var app = new SGBFLoader();
				app.run();
			};
			sgbf1.async = true;
			sgbf1.src = l;
			sgbf0.parentNode.insertBefore( sgbf1, sgbf0 );
			return {};
		}
	};
	SGBFWidgetLoader.call( window, document, "script", "https://leanbe.ai/assets/api/SGBFWidget.min.js", "62e5437476b962001357b06d" );
  </script>

{% endblock %}