{% extends '/wpadmin_pages/base.twig' %}

{% block h1heading %}<h1 style="display: none;">&nbsp;</h1>{% endblock %}

{% block page_head %}
	<div class="row">
		<div class="col-12">
			{% if not flags.is_dashboard %}
				<p class="mt-3"><a href="{{ hrefs.back_to_dash }}">&larr; Back To Dashboard</a></p>
			{% endif %}

{#			<nav class="navbar navbar-expand-md navbar-light bg-light">#}
{#				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"#}
{#						aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">#}
{#					<span class="navbar-toggler-icon"></span>#}
{#				</button>#}
{#				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">#}
{#					<ul class="navbar-nav">#}
{#						{% for navkey,navdata in hrefs.top_nav %}#}
{#							{% if navdata.subnavs is empty %}#}
{#								<li class="nav-item" id="NavItem-{{ navkey }}">#}
{#									<a class="nav-link{% if navdata.active %} active{% endif %}"#}
{#									   href="{{ navdata.href }}">{{ navdata.name }}#}
{#										{% if navdata.active %} <span class="sr-only">(current){% endif %}</a>#}
{#								</li>#}
{#							{% else %}#}
{#								<li class="nav-item dropdown" id="NavItem-{{ navkey }}">#}
{#									<a class="nav-link dropdown-toggle{% if navdata.active %} active{% endif %}"#}
{#									   data-toggle="dropdown" href="#" role="button"#}
{#									   aria-haspopup="true" aria-expanded="false">#}
{#										{{ navdata.name }}#}
{#									</a>#}
{#									<div class="dropdown-menu">#}
{#										{% for subnavslug,subnavdata in navdata.subnavs %}#}
{#											<a class="dropdown-item {% if subnavdata.active %} active{% endif %}"#}
{#											   href="{{ subnavdata.href }}">#}
{#												<span class="module-icon module-icon-{{ subnavslug }}"></span>#}
{#												<span class="module-name">{{ subnavdata.name }}</span>#}
{#											</a>#}
{#										{% endfor %}#}
{#									</div>#}
{#								</li>#}
{#							{% endif %}#}
{#						{% endfor %}#}

{#						<li class="nav-item" id="NavItem-SearchOptionsLaunch">#}
{#							<a class="nav-link dashicons dashicons-search" href="#"#}
{#							   data-toggle="modal" data-target="#OptionsSearch">&nbsp;</a>#}
{#						</li>#}

{#					</ul>#}
{#				</div>#}
{#				#}{#<form class="form-inline">#}
{#				#}{#<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#				#}{#<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#				#}{#</form>#}
{#				<a class="navbar-brand" href="{{ hrefs.nav_home }}" id="navbar-bannerlogo"#}
{#				   style="background-image: url('{{ hrefs.img_banner }}');"#}
{#				>&nbsp;</a>#}
{#			</nav>#}



		</div>
	</div>

	{% include '/snippets/modal/search_options.twig' %}
	<script>
	  jQuery( document ).ready( function () {
		  jQuery.fn.selectpicker.Constructor.BootstrapVersion = '4';

		  jQuery( '.selectpicker' ).selectpicker()
								   .removeAttr( "selected" );
	  } );
	</script>
	<script async src="https://cdn.announcekit.app/widget.js"></script>
	{% include '/snippets/js/widget_freshdesk.twig' %}
{% endblock %}

{% block page_main %}
	<div class="row">
		<div class="col">
		</div>
	</div>
{% endblock %}

{% block page_foot %}
{% endblock %}

{% block inline_styles %}
{% endblock %}

{% block inline_scripts %}
{% endblock %}