{% import '/common/macros.twig' as icwp_macros %}

<div class="row" id="SectionScanResultsFileLocker">
	<div class="col">
		<div class="card card-scan_results">

			<div class="card-body">

				{% if flags.is_restricted %}

					<div class="row">
						<div class="col mt-4 mb-2">
							<h6 class="text-center">
								{{ icwp_macros.svg(imgs.svgs.video) }}
								<a href="#" class="option-video"
								   data-vimeoid="815602380">What is the FileLocker feature</a>?
							</h6>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<div class="alert alert-warning my-3">
								<h6 class="alert-heading">{{ strings.not_available }}</h6>
								<p class="mb-0">
									<a href="{{ hrefs.go_pro }}" target="_blank" class="alert-link"
									>{{ strings.please_upgrade }}</a>
								</p>
							</div>
						</div>
					</div>

				{% else %}
					{% if flags.is_enabled %}
						<div class="col mt-3 mb-3">
							 <div class="input-group m-auto mt-3 mb-3">
								<label class="input-group-text" for="FileLockerFileSelect">
									 Select File To Review</label>
								<select class="form-select mw-100" id="FileLockerFileSelect">
									<option selected value="-">--</option>
									{% for lock_key, file_lock in vars.file_locks.bad %}
										<option value="{{ lock_key }}" class="text-danger">{{ file_lock.path }}</option>
									{% endfor %}
									{% for lock_key, file_lock in vars.file_locks.good %}
										<option value="{{ lock_key }}"
												class="text-success">{{ file_lock.path }}</option>
									{% endfor %}
								</select>
							 </div>
						</div>

						<div class="col">
							<div id="FileLockerDiffContents" class="w-100">
								<div class="alert alert-success">
									<p class="m-0">{{ strings.please_select }}</p>
								</div>
							</div>
						</div>
					{% else %}

						<div class="row">
							<div class="col mt-4 mb-2">
								<h6 class="text-center">
									{{ icwp_macros.svg(imgs.svgs.video) }}
									<a href="#" class="option-video" data-vimeoid="815602380">What is the FileLocker feature</a>?
								</h6>
							</div>
						</div>

						<div class="row">
							<div class="col">
								<div class="alert alert-success my-3">
									<h6 class="alert-heading">{{ strings.not_enabled }}</h6>
									<p class="m-0"><a class="alert-link" href="{{ hrefs.please_enable }}"
										>{{ strings.please_enable }}</a></p>
								</div>
							</div>
						</div>

					{% endif %}
				{% endif %}
			</div>

		</div>
	</div>
</div>