{% extends '/email/base_email.twig' %}

{% block email_body %}
	<p>{{ body.strings.intro }}</p>

	<p><strong>{{ body.strings.important }}</strong></p>

	<p>{{ body.strings.details_heading }}</p>
	<ul>
		<li>{{ body.strings.details_site }}</li>
		<li>{{ body.strings.details_username }}</li>
		<li>{{ body.strings.details_email }}</li>
		<li>{{ body.strings.details_ip }}</li>
	</ul>

	<p>{{ body.strings.thanks }}</p>
{% endblock %}
