{% extends '/email/base_email.twig' %}

{% block email_body %}
	<p>
		{{ body.strings.someone }}
		<br />{{ body.strings.requires }}
	</p>

	{# Note: When customizing this template, always output the variable below: body.vars.code #}
	<p>{{ body.strings.verification }}: <strong>{{ body.vars.code }}</strong></p>

	{% if body.flags.can_auto_login|default(false) %}
		<p>{{ body.strings.auto_login }}:
			<br /><a href="{{ body.hrefs.auto_login|raw }}" target="_blank">{{ body.hrefs.auto_login|raw }}</a>
		</p>
	{% endif %}

	<p><strong>{{ body.strings.details_heading }}</strong></p>
	<ul>
		<li>{{ body.strings.details_url }}</li>
		<li>{{ body.strings.details_username }}</li>
		<li>{{ body.strings.details_ip }}</li>
	</ul>

{% endblock %}